#### 문자열에서 제공하는 내장 함수 
- upper() : 문자열을 모두 대문자로 변경 
- lower() : 문자열을 모두 소문자로 변경 
- swapcase() : 대문자를 소문자로 소문자를 대문자로 변경 
- title() : 단어의 첫글자만 대문자로 변경 
- strip() : 기본적으로는 문자열의 시작과 끝의 존재하는 공백을 제거 
    - rstrip() : 문자열의 끝의 공백을 제거 
    - lstrip() : 문자열의 시작의 공백을 제거 
- replace() : 특정 문자를 찾아서 다른 문자로 치환
- split() : 특정 문자를 찾아서 문자를 잘라주는 기능 -> 결과 list

In [1]:
text_a = 'Apple'
text_b = 'apple'

In [2]:
text_a == text_b

False

In [4]:
# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 
# 두개의 데이터의 형태를 같게 만든다. 
text_a = text_a.upper()

In [5]:
text_b = text_b.upper()

In [6]:
text_a == text_b

True

In [7]:
text_c = "  Hello world  "

In [8]:
# lower()
text_c.lower()

'  hello world  '

In [9]:
# swapcase()
text_c.swapcase()

'  hELLO WORLD  '

In [10]:
text_c.title()

'  Hello World  '

In [11]:
# 좌우의 공백하는 함수 
text_c == "Hello world"

False

In [12]:
text_c.strip()

'Hello world'

In [13]:
text_c.rstrip()

'  Hello world'

In [14]:
text_c.lstrip()

'Hello world  '

In [15]:
print(text_c.lstrip())
print(text_c.strip())

Hello world
Hello world

In [16]:
# 문자열을 숫자형을 변환 
# 금액을 숫자로 변경하여 계산
price_1 = '$10.00'
price_2 = '$20.00'

In [17]:
price_1 + price_2

'$10.00$20.00'

In [20]:
# error : '$'를 숫자로 변경이 불가능하기 때문에
# float(price_1)

In [23]:
# '$' 제거하고 숫자로 변경 
float(price_1.lstrip('$')) + float(price_2.lstrip('$'))

30.0

In [24]:
price_3 = "1,000원"
price_4 = '3,000원'

In [30]:
# 문자열 마지막의 '원' 문자를 제거 
price_3.rstrip('원')

'1,000'

In [33]:
# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도
# 문자열 사이에 있는 문자를 변경 x
# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거
# replcae( '특정문자' ,  '변경문자' )
int(price_3.replace(',' , '').rstrip('원'))

1000

In [34]:
item_1 = '상품A'
item_2 = '상품a'
item_3 = '상 품 a'

In [35]:
(item_1 == item_2) and (item_2 == item_3)

False

In [37]:
# item_1을 기준으로 item_2, item_3 데이터를 변경 
# item_2에서는 소문자를 대문자로 변경 
item_2 = item_2.upper()

In [39]:
# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 
item_3 = item_3.upper()

In [41]:
item_3 = item_3.replace( ' ', '' )

In [42]:
(item_1 == item_2) and (item_2 == item_3)

True

In [43]:
# 문자열을 나눠주는 함수 -> split()
# 공백을 기준으로 문자를 나눠주는 함수 
# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다
text_1 = 'a b c d'
text_1.split()

['a', 'b', 'c', 'd']

In [44]:
text_2 = 'ammbmmc'
text_2.split('mm')

['a', 'b', 'c']

In [46]:
# sql query문 
query_1 = "select * from table"
query_2 = "SELECT * FROM table"
query_3 = """
    INSERT INTO 
    table 
    VALUES 
    ('a')
"""
query_4 = """
    select 
    * 
    from 
    table
"""

In [50]:
# query가 select문인가??
find_word = 'select'

query_1[ 0 : len(find_word) ] == find_word

True

In [52]:
query_2[ : len(find_word)].lower() == find_word

True

In [55]:
query_4.lstrip()[ : len(find_word) ] == find_word

True

In [58]:
query_1.split()[0] == find_word

True

In [60]:
query_4.split()[0]

'select'

In [62]:
query_2.split()[0].lower()

'select'

In [63]:
query_1.startswith(find_word)

True

In [64]:
query_2.lower().startswith(find_word)

True

In [66]:
query_4.lstrip().startswith(find_word)

True

In [67]:
query_3.lstrip().startswith(find_word)

False

In [68]:
file_list = [
    "/csv/a.csv", 
    "/csv/b.txt", 
    "/csv/c.csv", 
    "/csv/d.json"
]

In [ ]:
# file_list에서 확장자가 csv인 목록만 출력하자
file_list[1].endswith('csv')

True

In [ ]:
# 반복문을 이용하여 file_list에서 csv 확장인 파일만 새로운 목록을 만든다.
# 비어있는 리스트를 생성 
csv_list = []

# for문 list의 원소를 확인 
for i in range(len(file_list)):
    # i에 들어오는 데이터의 의미 : index
    # file_list에 i번째 항목이 csv로 끝나는가?
    if file_list[i].endswith('csv'):
        # 확장자가 csv인 경우 실행되는 부분 
        csv_list.append(file_list[i])
print(csv_list)
# for i in file_list:
#     # i에 들어오는 데이터의 의미 : file_list의 원소
#     if i.endswith('csv'):
#         csv_list.append(i)

['/csv/a.csv', '/csv/c.csv']

In [72]:
# 함수 
# 특정한 행동을 코드로 표현하고 이름 붙이는 작업
# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업 
# python에서 def 키워드를 이용해서 함수를 생성 
def func_1():
    # 결과 되돌려준다
    return 'Hello'

def func_2():
    print('Hello')

In [75]:
# 함수 호출 
res_1 = func_1()

In [76]:
res_2 = func_2()

Hello

In [77]:
res_1

'Hello'

In [78]:
res_2

In [80]:
# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출  한다면?
# 입력값을 저장할 수 있는 공간이 존재하지 않기때문에 에러가 발생
# func_1('a')

In [81]:
# 매개변수가 존재하는 함수 생성 
def func_3(a, b):
    c = a + b
    return c

In [ ]:
func_3(10, 5)
# a = 10
# b = 5 
# c = 10 + 5
# c를 되돌려준다.

15

In [84]:
# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우??
# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 
# 나머지 하나의 공간에 데이터가 없으므로 에러 
# func_3(10)

In [ ]:
# print() : 입력 데이터를 출력하는 기능
# sep 매개변수에 입력 데이터를 대입하려면 매개변수명 = data
# 첫번째 매개변수가 가변의 인자를 받는 형태이기때문에
print('a', 'b', 'c', sep ='\n')

a
b
c

In [89]:
def func_4(a, b = 5):
    # 매개변수는 2개 a, b
    #   a는 함수를 호출할때 필수 입력 공간 
    #   b는 선택 입력 공간 
    c = a ** b
    return c

In [ ]:
func_4(2)
# a = 2
# b = 5
# c = 2 ** 5 
# 32를 되돌려준다.

32

In [91]:
func_4(2, 4)
# a = 2
# b = 5
# b = 4
# c = 2 ** 4
# 16 되돌려준다.

16

### 변수의 종류
- 컴퓨터의 메모리에 데이터가 저장되는 공간에 이름을 붙이는 작업 

    - 전역 변수 
        - 전역의 의미 -> 모든 영역 
        - 해당하는 파일 안에서 어디서든 사용이 가능이 변수 
        - globals() 함수를 호출하면 전역 변수의 목록이 확인 가능
    - 지역 변수
        - 지역의 의미 -> 특정 영역
        - 함수나 클래스 안에서만 사용이 가능한 변수 
        - 함수에서 값을 되돌려주는 행동(return) 뒤에는 함수에서 사용된 변수들은 외부에서는 사용이 불가능

In [92]:
# 모든 영역에서 사용 할수 있는 변수의 목록 확인 
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a.upper()',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a = text_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  'text_c = "  Hello world  "',
  '# lower()\ntext_c.lower()',
  '# swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  '# 좌우의 공백하는 함수 \ntext_c == "Hello world"',
  'text_c.strip()',
  'text_c.rstrip()',
  'text_c.lstrip()',
  'print(text_c.lstrip())\nprint(text_c.strip())',
  "# 문자열을 숫자형을 변환 \n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  'int(price_1)',
  'float(price_1)',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "# '$' 제거하고 숫자로 변경 \nprice_1.lstrip('$')",
  "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$'))",
  "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
  'price_3 = "1,000원"\nprice_4 = \'3,000원\'',
  "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
  "# 문자열 마지막의 '원' 문자를 제거 \nfloat(price_3.rstrip('원'))",
  "# 문자열 마지막의 '원' 문자를 제거 \nint(price_3.rstrip('원'))",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replcae(',' , '')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
  "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '').rstrip('원')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nint(price_3.replace(',' , '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2.upper()',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2 = item_2.upper()',
  '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3.upper()',
  '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3 = item_3.upper()',
  "item_3.replace( ' ', '' )",
  "item_3 = item_3.replace( ' ', '' )",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split()\n# 공백을 기준으로 문자를 나눠주는 함수 \n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""',
  '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""\nquery_4 = """\n    select \n    * \n    from \n    table\n"""',
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[0]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word)+1 ]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[ : len(find_word)] == find_word',
  'query_2[ : len(find_word)].lower() == find_word',
  'query_4[ : len(find_word) ]',
  'query_4.lstrip()[ : len(find_word) ]',
  'query_4.lstrip()[ : len(find_word) ] == find_word',
  'query_1.split()',
  'query_1.split()[0]',
  'query_1.split()[0] == find_word',
  'query_4.split()',
  'query_4.split()[0]',
  'query_2.split()',
  'query_2.split()[0].lower()',
  'query_1.startswith(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv", \n    "/csv/b.txt", \n    "/csv/c.csv", \n    "/csv/d.json"\n]',
  '# file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[0]',
  "# file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[0].endswith('csv')",
  "# 반복문을 이용하여 file_list에서 csv 확장인 파일만 새로운 목록을 만든다.\n# 비어있는 리스트를 생성 \ncsv_list = []\n\n# for문 list의 원소를 확인 \nfor i in range(len(file_list)):\n    # i에 들어오는 데이터의 의미 : index\n    # file_list에 i번째 항목이 csv로 끝나는가?\n    if file_list[i].endswith('csv'):\n        # 확장자가 csv인 경우 실행되는 부분 \n        csv_list.append(file_list[i])\nprint(csv_list)\n# for i in file_list:\n    # i에 들어오는 데이터의 의미 : file_list의 원소",
  "# 함수 \n# 특정한 행동을 코드로 표현하고 이름 붙이는 작업\n# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업 \n# python에서 def 키워드를 이용해서 함수를 생성 \ndef func_1():\n    # 결과 되돌려준다\n    return 'Hello'\n\ndef func_2():\n    print('Hello')",
  '# 함수 호출 \nfunc_1()',
  'func_2()',
  '# 함수 호출 \nres_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출  한다면?\nfunc_1('a')",
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출  한다면?\n# 입력값을 저장할 수 있는 공간이 존재하지 않기때문에 에러가 발생\n# func_1('a')",
  '# 매개변수가 존재하는 함수 생성 \ndef func_3(a, b):\n    c = a + b\n    return c',
  'func_3(10, 5)',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우??\nfunc_3(10)',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우??\n# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 \n# 나머지 하나의 공간에 데이터가 없으므로 에러 \n# func_3(10)',
  "# print() : 입력 데이터를 출력하는 기능\nprint('a')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c', '\\n')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c', sep ='\\n')",
  'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    #   a는 함수를 호출할때 필수 입력 공간 \n    #   b는 선택 입력 공간 \n    c = a ** b\n    return c ',
  'func_4(2)',
  'func_4(2, 4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16 되돌려준다.',
  '# 모든 영역에서 사용 할수 있는 변수의 목록 확인 \nglobals()'],
 '_oh': {2: False,
  3: 'APPLE',
  6: True,
  8: '  hello world  ',
  9: '  hELLO WORLD  ',
  10: '  Hello World  ',
  11: False,
  12: 'Hello world',
  13: '  Hello world',
  14: 'Hello world  ',
  17: '$10.00$20.00',
  21: '10.00',
  22: 10.0,
  23: 30.0,
  25: '1,000',
  29: '1000원',
  30: '1,000',
  31: '1000원',
  32: '1000',
  33: 1000,
  35: False,
  36: '상품A',
  38: '상 품 A',
  40: '상품A',
  42: True,
  43: ['a', 'b', 'c', 'd'],
  44: ['a', 'b', 'c'],
  47: 's',
  48: 'select ',
  49: 'select',
  50: True,
  51: False,
  52: True,
  53: '\n    s',
  54: 'select',
  55: True,
  56: ['select', '*', 'from', 'table'],
  57: 'select',
  58: True,
  59: ['select', '*', 'from', 'table'],
  60: 'select',
  61: ['SELECT', '*', 'FROM', 'table'],
  62: 'select',
  63: True,
  64: True,
  65: False,
  66: True,
  67: False,
  69: '/csv/a.csv',
  70: True,
  73: 'Hello',
  77: 'Hello',
  82: 15,
  90: 32,
  91: 16},
 '_dh': [WindowsPath('c:/Users/ekfla/Documents/GitHub/multicam_2025/250828')],
 'In': ['',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a.upper()',
  '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a = text_a.upper()',
  'text_b = text_b.upper()',
  'text_a == text_b',
  'text_c = "  Hello world  "',
  '# lower()\ntext_c.lower()',
  '# swapcase()\ntext_c.swapcase()',
  'text_c.title()',
  '# 좌우의 공백하는 함수 \ntext_c == "Hello world"',
  'text_c.strip()',
  'text_c.rstrip()',
  'text_c.lstrip()',
  'print(text_c.lstrip())\nprint(text_c.strip())',
  "# 문자열을 숫자형을 변환 \n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  'int(price_1)',
  'float(price_1)',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "# '$' 제거하고 숫자로 변경 \nprice_1.lstrip('$')",
  "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$'))",
  "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
  'price_3 = "1,000원"\nprice_4 = \'3,000원\'',
  "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
  "# 문자열 마지막의 '원' 문자를 제거 \nfloat(price_3.rstrip('원'))",
  "# 문자열 마지막의 '원' 문자를 제거 \nint(price_3.rstrip('원'))",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replcae(',' , '')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
  "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '').rstrip('원')",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nint(price_3.replace(',' , '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2.upper()',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2 = item_2.upper()',
  '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3.upper()',
  '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3 = item_3.upper()',
  "item_3.replace( ' ', '' )",
  "item_3 = item_3.replace( ' ', '' )",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split()\n# 공백을 기준으로 문자를 나눠주는 함수 \n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""',
  '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""\nquery_4 = """\n    select \n    * \n    from \n    table\n"""',
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[0]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word)+1 ]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
  "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[ : len(find_word)] == find_word',
  'query_2[ : len(find_word)].lower() == find_word',
  'query_4[ : len(find_word) ]',
  'query_4.lstrip()[ : len(find_word) ]',
  'query_4.lstrip()[ : len(find_word) ] == find_word',
  'query_1.split()',
  'query_1.split()[0]',
  'query_1.split()[0] == find_word',
  'query_4.split()',
  'query_4.split()[0]',
  'query_2.split()',
  'query_2.split()[0].lower()',
  'query_1.startswith(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv", \n    "/csv/b.txt", \n    "/csv/c.csv", \n    "/csv/d.json"\n]',
  '# file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[0]',
  "# file_list에서 확장자가 csv인 목록만 출력하자\nfile_list[0].endswith('csv')",
  "# 반복문을 이용하여 file_list에서 csv 확장인 파일만 새로운 목록을 만든다.\n# 비어있는 리스트를 생성 \ncsv_list = []\n\n# for문 list의 원소를 확인 \nfor i in range(len(file_list)):\n    # i에 들어오는 데이터의 의미 : index\n    # file_list에 i번째 항목이 csv로 끝나는가?\n    if file_list[i].endswith('csv'):\n        # 확장자가 csv인 경우 실행되는 부분 \n        csv_list.append(file_list[i])\nprint(csv_list)\n# for i in file_list:\n    # i에 들어오는 데이터의 의미 : file_list의 원소",
  "# 함수 \n# 특정한 행동을 코드로 표현하고 이름 붙이는 작업\n# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업 \n# python에서 def 키워드를 이용해서 함수를 생성 \ndef func_1():\n    # 결과 되돌려준다\n    return 'Hello'\n\ndef func_2():\n    print('Hello')",
  '# 함수 호출 \nfunc_1()',
  'func_2()',
  '# 함수 호출 \nres_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출  한다면?\nfunc_1('a')",
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출  한다면?\n# 입력값을 저장할 수 있는 공간이 존재하지 않기때문에 에러가 발생\n# func_1('a')",
  '# 매개변수가 존재하는 함수 생성 \ndef func_3(a, b):\n    c = a + b\n    return c',
  'func_3(10, 5)',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우??\nfunc_3(10)',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우??\n# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 \n# 나머지 하나의 공간에 데이터가 없으므로 에러 \n# func_3(10)',
  "# print() : 입력 데이터를 출력하는 기능\nprint('a')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c', '\\n')",
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c', sep ='\\n')",
  'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    #   a는 함수를 호출할때 필수 입력 공간 \n    #   b는 선택 입력 공간 \n    c = a ** b\n    return c ',
  'func_4(2)',
  'func_4(2, 4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16 되돌려준다.',
  '# 모든 영역에서 사용 할수 있는 변수의 목록 확인 \nglobals()'],
 'Out': {2: False,
  3: 'APPLE',
  6: True,
  8: '  hello world  ',
  9: '  hELLO WORLD  ',
  10: '  Hello World  ',
  11: False,
  12: 'Hello world',
  13: '  Hello world',
  14: 'Hello world  ',
  17: '$10.00$20.00',
  21: '10.00',
  22: 10.0,
  23: 30.0,
  25: '1,000',
  29: '1000원',
  30: '1,000',
  31: '1000원',
  32: '1000',
  33: 1000,
  35: False,
  36: '상품A',
  38: '상 품 A',
  40: '상품A',
  42: True,
  43: ['a', 'b', 'c', 'd'],
  44: ['a', 'b', 'c'],
  47: 's',
  48: 'select ',
  49: 'select',
  50: True,
  51: False,
  52: True,
  53: '\n    s',
  54: 'select',
  55: True,
  56: ['select', '*', 'from', 'table'],
  57: 'select',
  58: True,
  59: ['select', '*', 'from', 'table'],
  60: 'select',
  61: ['SELECT', '*', 'FROM', 'table'],
  62: 'select',
  63: True,
  64: True,
  65: False,
  66: True,
  67: False,
  69: '/csv/a.csv',
  70: True,
  73: 'Hello',
  77: 'Hello',
  82: 15,
  90: 32,
  91: 16},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001FD7B7DB7D0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1fd7b7f4590>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1fd7b7f4590>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 16,
 '__': 32,
 '___': 15,
 '__vsc_ipynb_file__': 'c:\\Users\\ekfla\\Documents\\GitHub\\multicam_2025\\250828\\01_function.ipynb',
 '_i': 'func_4(2, 4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16 되돌려준다.',
 '_ii': 'func_4(2)',
 '_iii': 'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    #   a는 함수를 호출할때 필수 입력 공간 \n    #   b는 선택 입력 공간 \n    c = a ** b\n    return c ',
 '_i1': "text_a = 'Apple'\ntext_b = 'apple'",
 'text_a': 'APPLE',
 'text_b': 'APPLE',
 '_i2': 'text_a == text_b',
 '_2': False,
 '_i3': '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a.upper()',
 '_3': 'APPLE',
 '_i4': '# text_a와 text_b를 비교했을때 같다 라는 결과를 만드려면 \n# 두개의 데이터의 형태를 같게 만든다. \ntext_a = text_a.upper()',
 '_i5': 'text_b = text_b.upper()',
 '_i6': 'text_a == text_b',
 '_6': True,
 '_i7': 'text_c = "  Hello world  "',
 'text_c': '  Hello world  ',
 '_i8': '# lower()\ntext_c.lower()',
 '_8': '  hello world  ',
 '_i9': '# swapcase()\ntext_c.swapcase()',
 '_9': '  hELLO WORLD  ',
 '_i10': 'text_c.title()',
 '_10': '  Hello World  ',
 '_i11': '# 좌우의 공백하는 함수 \ntext_c == "Hello world"',
 '_11': False,
 '_i12': 'text_c.strip()',
 '_12': 'Hello world',
 '_i13': 'text_c.rstrip()',
 '_13': '  Hello world',
 '_i14': 'text_c.lstrip()',
 '_14': 'Hello world  ',
 '_i15': 'print(text_c.lstrip())\nprint(text_c.strip())',
 '_i16': "# 문자열을 숫자형을 변환 \n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
 'price_1': '$10.00',
 'price_2': '$20.00',
 '_i17': 'price_1 + price_2',
 '_17': '$10.00$20.00',
 '_i18': 'int(price_1)',
 '_i19': 'float(price_1)',
 '_i20': "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
 '_i21': "# '$' 제거하고 숫자로 변경 \nprice_1.lstrip('$')",
 '_21': '10.00',
 '_i22': "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$'))",
 '_22': 10.0,
 '_i23': "# '$' 제거하고 숫자로 변경 \nfloat(price_1.lstrip('$')) + float(price_2.lstrip('$'))",
 '_23': 30.0,
 '_i24': 'price_3 = "1,000원"\nprice_4 = \'3,000원\'',
 'price_3': '1,000원',
 'price_4': '3,000원',
 '_i25': "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
 '_25': '1,000',
 '_i26': "# 문자열 마지막의 '원' 문자를 제거 \nfloat(price_3.rstrip('원'))",
 '_i27': "# 문자열 마지막의 '원' 문자를 제거 \nint(price_3.rstrip('원'))",
 '_i28': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replcae(',' , '')",
 '_i29': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
 '_29': '1000원',
 '_i30': "# 문자열 마지막의 '원' 문자를 제거 \nprice_3.rstrip('원')",
 '_30': '1,000',
 '_i31': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '')",
 '_31': '1000원',
 '_i32': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nprice_3.replace(',' , '').rstrip('원')",
 '_32': '1000',
 '_i33': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 x\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n# replcae( '특정문자' ,  '변경문자' )\nint(price_3.replace(',' , '').rstrip('원'))",
 '_33': 1000,
 '_i34': "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
 'item_1': '상품A',
 'item_2': '상품A',
 'item_3': '상품A',
 '_i35': '(item_1 == item_2) and (item_2 == item_3)',
 '_35': False,
 '_i36': '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2.upper()',
 '_36': '상품A',
 '_i37': '# item_1을 기준으로 item_2, item_3 데이터를 변경 \n# item_2에서는 소문자를 대문자로 변경 \nitem_2 = item_2.upper()',
 '_i38': '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3.upper()',
 '_38': '상 품 A',
 '_i39': '# item_3는 문자열 사이에 존재하는 공백을 제거 -> 문자열을 대문자로 변경 \nitem_3 = item_3.upper()',
 '_i40': "item_3.replace( ' ', '' )",
 '_40': '상품A',
 '_i41': "item_3 = item_3.replace( ' ', '' )",
 '_i42': '(item_1 == item_2) and (item_2 == item_3)',
 '_42': True,
 '_i43': "# 문자열을 나눠주는 함수 -> split()\n# 공백을 기준으로 문자를 나눠주는 함수 \n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
 'text_1': 'a b c d',
 '_43': ['a', 'b', 'c', 'd'],
 '_i44': "text_2 = 'ammbmmc'\ntext_2.split('mm')",
 'text_2': 'ammbmmc',
 '_44': ['a', 'b', 'c'],
 '_i45': '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""',
 'query_1': 'select * from table',
 'query_2': 'SELECT * FROM table',
 'query_3': "\n    INSERT INTO \n    table \n    VALUES \n    ('a')\n",
 '_i46': '# sql query문 \nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO \n    table \n    VALUES \n    (\'a\')\n"""\nquery_4 = """\n    select \n    * \n    from \n    table\n"""',
 'query_4': '\n    select \n    * \n    from \n    table\n',
 '_i47': "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[0]",
 'find_word': 'select',
 '_47': 's',
 '_i48': "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word)+1 ]",
 '_48': 'select ',
 '_i49': "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ]",
 '_49': 'select',
 '_i50': "# query가 select문인가??\nfind_word = 'select'\n\nquery_1[ 0 : len(find_word) ] == find_word",
 '_50': True,
 '_i51': 'query_2[ : len(find_word)] == find_word',
 '_51': False,
 '_i52': 'query_2[ : len(find_word)].lower() == find_word',
 '_52': True,
 '_i53': 'query_4[ : len(find_word) ]',
 '_53': '\n    s',

In [93]:
text_a

'APPLE'

In [94]:
globals()['text_a']

'APPLE'

In [97]:
# 반복문을 이용해서 전역변수를 생성
for i in range(3, 10, 2):
    # globals() 함수를 이용하여 전역 변수 생성 
    globals()[f'a{i}'] = i

In [98]:
a3

3

In [99]:
a5

5

In [100]:
a7

7

In [101]:
a9

9

In [102]:
# 지역 변수 확인 
def func_5(input_a, input_b):
    func_res = input_a + input_b
    return func_res

res_3 = func_5(20, 1)

In [104]:
print(res_3)
# func_res, input_a 지역 변수이므로 전역에서는 사용이 불가능
# print(func_res)
# print(input_a)

21

In [105]:
# 변수 생성 
a = b = c = 10
print(a, b, c)

10 10 10

In [106]:
d, e, f = 3, 'A', True
print(d, e, f)

3 A True

In [107]:
# return data가 2개 이상인 경우
def func_6(a, b):
    c = a + b
    d = a - b
    return c, d

In [108]:
func_6(10, 3)

(13, 7)

In [109]:
res_4 = func_6(10, 3)
res_4

(13, 7)

In [110]:
res_5, res_6 = func_6(10, 3)

In [111]:
print(res_5)
print(res_6)

13
7

In [ ]:
# 인자의 개수가 가변 인 경우 
def func_7( *args ):
    # args의 타입??
    print(type(args))
    # 인자들의 누적 합 구해서 되돌려주는 기능 
    # 합계 초기값 지정 
    result = 0
    # args의 원소의 개수만큼 반복 실행하는 반복문 생성 
    for i in args:
        # i는 args의 원소들이 각각 대입 
        result += i
    # return은 값을 되돌려주고 함수를 종료
    return result

In [117]:
func_7(1, 2, 3, 4, 5)

<class 'tuple'>

15

In [118]:
def func_8(args):
    result = 0 
    for i in args:
        result += i
    return result

In [119]:
func_8([1, 2, 3, 4, 5])

15

In [121]:
# func_7() 함수를 호출하는데 입력 데이터가 리스트 경우
func_7(*[1,2,3,4,5])

<class 'tuple'>

15

In [123]:
# 인자의 개수가 가변인 매개변수와 개수가 1개인 매개변수가 존재하는 함수 
def func_9(*args, data):
    result = 0
    # data가 1이라면 누적합을 되돌려주고
    if data == 1:
        result = 0
        for i in args : 
            result += i   
    # data가 0이라면 누적곱을 되돌려준다.
    if data == 0:
        result = 1
        for i in args:
            result *= i
    return result

In [125]:
func_9(1,2,3,4,5, data = 1)

15

In [127]:
# 매개변수에 기본값이 설정이 되어있는 함수 
def func_10(a, b = 2, c = 3):
    # 매개변수는 3개 : a는 필수 입력 / b,c는 선택 입력
    # 인자의 개수가 1개, 2개, 3개 모두 호출이 가능
    result = (a + b) ** c
    return result

In [128]:
print(func_10(3))
print(func_10(5, 1))
print(func_10(3, 1, 1))

125
216
4

In [129]:
# func_10에서 b 매개변수는 기본값을 사용하고 c의 매개변수에는 새로운 입력값 대입 
func_10(3, c= 2)

25

In [131]:
# 함수를 생성시 매개변수의 기본값을 설정하려면 
# 가장 뒤의 매개변수 부터 기본값을 설정 
# 중간의 매개변수에만 기본값을 설정하면 에러가 발생 
# def func_11(a, b = 2, c):
#     result = a + b + c
#     return result

### 연습 
- 함수를 생성 
    - 매개변수 2개
        - _datas : 인자의 개수가 가변인 매개변수
        - _type : 기본값이 설정 ('max')
    - _type이 'max'라면 _datas 들 중 가장 큰 값을 되돌려준다. 
    - _type이 'min'이라면 _datas 들 중 가장 작은 값을 되돌려준다. 
    - _type이 'mean'이라면 _datas 들의 평균을 되돌려준다. 
    - 위에 3가지의 경우가 아니라면 "_type이 맞지 않습니다"를 되돌려준다.

In [132]:
def func_11(*_datas, _type='max'):
    # _type의 데이터가 어떤것인가?
    if _type == 'max':
        # _datas 들 중 가장 큰 값을 되돌려준다. 
        return max(_datas)
    if _type == 'min':
        return min(_datas)
    if _type == 'mean':
        return sum(_datas) / len(_datas)
    return "_type이 맞지 않습니다."

In [133]:
def func_12(*_datas, _type='max'):
    if _type == 'max':
        result = max(_datas)
    elif _type == 'min':
        result = min(_datas)
    elif _type == 'mean':
        result = sum(_datas) / len(_datas)
    else:
        result = '_type이 맞지 않습니다.'
    return result

In [134]:
func_11(1,2,3,4,5)

5

In [136]:
func_11(1,2,3,4,5, _type='min')

1

In [137]:
func_11(1,2,3,4,5, _type='mean')

3.0

In [138]:
func_12(1,2,3,4,5, _type='mean')

3.0

In [139]:
func_12(1,2,3,4,5, _type='sum')

'_type이 맞지 않습니다.'