In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./csv/dept.csv")

In [3]:
df

   DEPTNO       DNAME       LOC
0    10.0  ACCOUNTING  NEW YORK
1    20.0    RESEARCH    DALLAS
2    30.0       SALES   CHICAGO
3    40.0  OPERATIONS    BOSTON

In [5]:
table_data = df.to_dict(orient='records')

In [7]:
for i in range(len(table_data)):
    print(table_data[i])

{'DEPTNO': 10.0, 'DNAME': 'ACCOUNTING', 'LOC': 'NEW YORK'}
{'DEPTNO': 20.0, 'DNAME': 'RESEARCH', 'LOC': 'DALLAS'}
{'DEPTNO': 30.0, 'DNAME': 'SALES', 'LOC': 'CHICAGO'}
{'DEPTNO': 40.0, 'DNAME': 'OPERATIONS', 'LOC': 'BOSTON'}

In [8]:
for i in table_data:
    print(i)

{'DEPTNO': 10.0, 'DNAME': 'ACCOUNTING', 'LOC': 'NEW YORK'}
{'DEPTNO': 20.0, 'DNAME': 'RESEARCH', 'LOC': 'DALLAS'}
{'DEPTNO': 30.0, 'DNAME': 'SALES', 'LOC': 'CHICAGO'}
{'DEPTNO': 40.0, 'DNAME': 'OPERATIONS', 'LOC': 'BOSTON'}