### Openapi
- 데이터를 제공하는 주소와 요청 시 필요한 데이터들을 요청 메시지에 추가하여 요청(request)
- 필요한 데이터들과 주소가 명확하다면 응답 메시지 반환
- 서버에게 요청을 보내는 라이브러리 : requests
    - requests에 내장된 get() 함수를 이용하여 요청을 보내고 응답 메시지를 받는다.

In [1]:
import requests

In [6]:
url = 'https://apis.data.go.kr/B190001/salesPolicy'
service_key = 'dtbWOdJ/Cz5HE0DGLU+CRPe7pOW0NIQBUcGEqsHZaTRiYCI/5+zugwzQjcvuId7NPdg6rUiW+ft3fm7yqyD4pw=='
sub_url = '/paper'

params = {
    'serviceKey' : service_key, 
    'pageNo' : 1, 
    'numOfRows' : 10
}

res = requests.get(url+sub_url, params)

In [7]:
res

In [9]:
type(res.content)

bytes

In [10]:
import pandas as pd

In [ ]:
pd.DataFrame(res.content)

In [12]:
# bytes 타입의 데이터는 DataFrame 변환이 불가능
# json 형태의 데이터인 경우 -> json 라이브러리 호출
# json 라이브러리 안에 loads() 함수를 이용하여 데이터의 타입을 변환 
import json 
res_data = json.loads(res.content)

In [13]:
type(res_data)

dict

In [17]:
# res_data에는 데이터셋 뿐만이 아니라 요청에 대한 응답 결과들이 같이 포함
# 원하는 데이터셋만 따로 추출하여 데이터프레임화 
pd.DataFrame(res_data['data'])

,corp_dscnt_prchs_yn,corp_smpl_prchs_yn,crtr_ymd,dscnt_plcy_aplcn_bgng_ymd,dscnt_plcy_aplcn_end_ymd,dscnt_rt,dy_prchs_lmt_amt,expt_plcy_yn,max_dscnt_lmt_amt,max_excng_lmt_amt,mm_prchs_lmt_amt,pvsn_inst_cd,usage_rgn_cd,yr_prchs_lmt_amt
0,Y,Y,20240201,20240101,None,10,0,N,NaN,100000,10010,I0000004,11110,0
1,Y,Y,20240201,20240101,None,10,0,N,NaN,10000000,500000,I0000004,52750,0
2,N,Y,20240201,20240201,20240229,10,0,Y,500000.0,999999999,400000,I0000004,46860,0
3,N,Y,20240201,20240101,None,10,0,N,NaN,10000000,700000,I0000004,47750,10000000
4,N,Y,20240201,20240101,None,10,0,N,NaN,999999999,500000,I0000004,46790,0
5,N,Y,20240201,20240101,None,0,0,N,NaN,999999999,0,I0000004,51790,0
6,N,Y,20240201,20240101,None,0,0,N,NaN,0,0,I0000004,51130,0
7,Y,Y,20240201,20240101,None,10,0,N,NaN,20000000,500000,I0000004,44250,0
8,N,Y,20240201,20240201,20240229,10,0,Y,500000.0,10000000,300000,I0000004,48730,0
9,N,Y,20240201,20240101,None,10,0,N,NaN,10000000,500000,I0000004,47760,4000000