### Openapi
- 데이터를 제공하는 주소와 요청 시 필요한 데이터들을 요청 메시지에 추가하여 요청(request)
- 필요한 데이터들과 주소가 명확하다면 응답 메시지 반환
- 서버에게 요청을 보내는 라이브러리 : requests
    - requests에 내장된 get() 함수를 이용하여 요청을 보내고 응답 메시지를 받는다.

In [ ]:
import requests

In [ ]:
url = 'https://apis.data.go.kr/B190001/salesPolicy'
service_key = 'dtbWOdJ/Cz5HE0DGLU+CRPe7pOW0NIQBUcGEqsHZaTRiYCI/5+zugwzQjcvuId7NPdg6rUiW+ft3fm7yqyD4pw=='
sub_url = '/paper'

params = {
    'serviceKey' : service_key, 
    'pageNo' : 1, 
    'numOfRows' : 10
}

res = requests.get(url+sub_url, params)

In [ ]:
res

In [ ]:
type(res.content)

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(res.content)

In [ ]:
# bytes 타입의 데이터는 DataFrame 변환이 불가능
# json 형태의 데이터인 경우 -> json 라이브러리 호출
# json 라이브러리 안에 loads() 함수를 이용하여 데이터의 타입을 변환 
import json 
res_data = json.loads(res.content)

In [ ]:
type(res_data)

In [ ]:
# res_data에는 데이터셋 뿐만이 아니라 요청에 대한 응답 결과들이 같이 포함
# 원하는 데이터셋만 따로 추출하여 데이터프레임화 
df = pd.DataFrame(res_data['data'])
df2 = df.copy()

In [ ]:
# 데이터프레임에서 각각의 컬럼의 이름들은 api을 제공하는 사이트에서 확인하여 이름을 변경 
# df.columns -> 전체 컬럼의 이름을 변경 (class의 속성의 값을 변경)
# df.rename() -> 함수를 이용하여 컬럼의 이름을 변경 (class의 메서드를 이용하여 내부의 데이터를 변경)
df.columns = ['법인할인구매가능여부', '법인단순구매가능여부', '기준일자', '할인정책적용시작일자', 
 '할인정책종료일자', '할인율', '일간구매제한금액', '예외정책여부', '최대할인제한금액', 
 '최대환전제한금액', '월간구매제한금액', '제공기관코드', '사용처지역코드', '연간구매제한금액']

In [ ]:
df.info()

In [ ]:
cols = df2.columns
new_cols = ['법인할인구매가능여부', '법인단순구매가능여부', '기준일자', '할인정책적용시작일자', 
 '할인정책종료일자', '할인율', '일간구매제한금액', '예외정책여부', '최대할인제한금액', 
 '최대환전제한금액', '월간구매제한금액', '제공기관코드', '사용처지역코드', '연간구매제한금액']

In [ ]:
cols_dict = {}
for old, new in zip(cols, new_cols):
    cols_dict[old] = new

In [ ]:
cols_dict

In [ ]:
# rename 함수를 이용하여 컬럼의 이름을 변경 
# rename 함수의 장점 : 인덱스나 컬럼이나 모두 변경이 가능, 
# columns 속성의 값을 변환할 때는 확인 불가능하지만 rename은 확인 하고 변환이 가능
# inplace 매개변수의 값을 True로 변경하여 데이터를 변환
df2.rename(columns = cols_dict, inplace=True)

In [ ]:
# api에서 수집한 데이터를 저장 
# 파일로 저장 ( csv, excel, json, xml 파일의 형태를 지정하여 저장 ) -> to_xxxx() 함수
# to -> 일반적으로 데이터의 타입을 변경할때 자주 사용하는 키워드 
# to_csv -> csv 타입으로 변경(파일로 저장 -> 저장하는 위치)
# excel 파일로 저장 -> to_excel()
# list 형태로 변환 -> to_list()
# dict 형태로 변환 -> to_dict()
df.to_csv( "./test.csv", index = False, )
# mode 매개변수 -> 인자를 'a' -> append 모드 -> 기존의 파일에 데이터를 추가하는 형태

In [ ]:
import os 
# 특정 경로에 파일이 존재하는가?

# 존재유무판단-> is 
# 파일 -> file

if os.path.isfile("./test.csv"):
    # 특정 경로에 파일이 존재하는 경우
    # 해당 파일에 데이터를 추가 
    # 데이터프레임에서 인덱스 저장x 헤더(머리 부분의 데이터 -> 컬럼명) 저장x
    df.to_csv('./test.csv', index=False, mode='a', header=False)
else:
    # 파일이 존재하지 않는 경우 
    # 파일을 새로 생성하여 헤더는 저장o, 인덱스는 저장x
    df.to_csv('./test.csv', index=False)
# mode 매개변수 
    # 'w'(기본값) : 기존의 파일이 존재한다면 대체, 없으면 생성
    # 'a' : 기존의 파일에 데이터를 추가 
    # 'x' : 기존이 파일이 존재한다면 대입하지 않겠다.(기존의 파일을 보존)

In [ ]:
# 서울시 열린데이터 api 사용 
service_key2 = '6546674f4664617237314274704d75'
data_type = 'xml'
service_name = 'LOCALDATA_082604_SM'
start_idx = '1'
end_idx = '10'

url = f"http://openapi.seoul.go.kr:8088/{service_key2}/{data_type}/{service_name}/{start_idx}/{end_idx}/"
print(url)

In [ ]:
res2 = requests.get(url)

In [ ]:
res2

In [ ]:
res2.content

In [ ]:
# !pip install xmltodict

In [ ]:
# res2의 데이터는 xml 형태로 데이터 확인 
# 익숙한 데이터의 타입인 dict 형태로 데이터 변환 -> 해당 기능을 가진 라이브러리 호출 
import xmltodict

In [ ]:
# xml 형태인 바이트 데이터를  dict 형태로 변환
# xmltodict에 내장된 parse() 함수를 이용
data = xmltodict.parse(res2.content)

In [ ]:
from pprint import pprint

In [ ]:
pprint(data['LOCALDATA_082604_SM']['row'])

In [ ]:
data['LOCALDATA_082604_SM'].keys()

In [ ]:
df3 = pd.DataFrame(data['LOCALDATA_082604_SM']['row'])
df3.head()

In [ ]:
df3.to_csv("./서울시서대문통신판매업인허가현황.csv", index= False)

In [ ]:
# 자체적인 DataBase에 저장 
# 1. 각 행의 데이터들을 insert query 문을 이용하여 대입 
# 2. sqlalchemy 라이브러리를 이용하여 DBserver와의 연결을 하고 to_sql()을 이용하여 
#    데이터프레임 전체를 테이블에 대입
#       (테이블이 존재하는 경우 -> 교체, 추가 / 테이블이 존재하지 않을때는 테이블생성)

In [ ]:
# 데이터베이스에 연결 
import pymysql

In [ ]:
# service_key, DB Server 정보들은 외부 노출시 보안상 큰 문제가 발생 
# .env에 데이터를 저장하고 외부에 해당 파일은 업로드 하지 않는다. (일반적인 방법)
# dotenv 라이브러리를 이용해서 .env의 데이터를 가져온다. 
# !pip install python-dotenv

In [ ]:
from dotenv import load_dotenv
import os

In [ ]:
# load_dotenv() -> 작업 공간에 있는 .env 파일을 환경 변수에 등록 
# os 라이브러리 -> 시스템 환경변수에 접근하기 위해 로드

In [ ]:
load_dotenv()

In [ ]:
# 환경 변수에서 서버의 정보를 불러온다. 
os.getenv('port')

In [ ]:
# DB server 연결(connect)
db = pymysql.connect(
    host = os.getenv('host'), 
    port = int(os.getenv('port')), 
    user = os.getenv('user'), 
    password = os.getenv('pw'), 
    db = os.getenv('db_name')
)

In [ ]:
# python환경과 DB server 환경 사이에 가상의 공간(cursor)을 생성 
# cursor() -> 기본값으로 사용하면 쿼리의 결과를 tuple 형태로 되돌려줌
# DictCursor를 사용하면 dict 형태를 되돌려줌
cursor = db.cursor(pymysql.cursors.DictCursor)

In [ ]:
df3.columns

In [ ]:
# 기존의 테이블을 제거 
# drop_query = "DROP TABLE test_data"
# cursor.execute(drop_query)

In [102]:
# 수집한 데이터를 저장하기 위해 저장할 공간(table)을 생성
# table은 엑셀파일과 같다라고 생각

# table을 생성하는 query문 -> CREATE문 -> table이나 Database를 생성할때 사용
create_query = """
    CREATE TABLE test 
    (
        a varchar(32) primary key, 
        b varchar(32) not null
    )
"""

# df3의 컬럼의 개수가 29개... 
query_head = "CREATE TABLE if not exists test_data ("
query_tail = ')'

for col in df3.columns:
    # print(col)
    text = f"{col} TEXT,"
    # print(text)
    # text를 query_head 에 누적합
    query_head += text
query = query_head[:-1] + query_tail

In [103]:
# Query문을 cursor 보낸다. 
# 질의를 보낸다(execute())
cursor.execute(query)

0

In [104]:
len(df3.columns)

29

In [105]:
# 데이터는 입력 -> 
# insert into table명(필드명, ...) values (데이터, ...)
# 모든 필드에 데이터를 대입하는 경우
# insert into table명 values (데이터, ...)
insert_query = "INSERT INTO test_data VALUES ("
end_str = ")"
for i in range(len(df3.columns)):
    insert_query += "%s,"

insert_query = insert_query[:-1] + end_str

In [106]:
# df3의 오늘 values를 문자로 변환
df3 = df3.astype(str)

In [107]:
# execute( query, ?에 들어갈 데이터 ) 함수를 이용해서 쿼리문을 cursor 보낸다. 
cursor.execute(insert_query, list(df3.loc[0].values))

1

In [109]:
# df3의 오늘 인덱스의 데이터들을 insert문을 이용하여 대입 
for idx in df3.index:
    # 만약에 primary_key 지정된 필드에 같은 데이터가 대입이 되면 에러 발생
    # 중복 에러
    try:
        cursor.execute(insert_query, 
                    list(df3.loc[idx].values)
                    )
    except:
        # 중복 에러가 발생시 실행되는 부분 
        print('중복 데이터 발견')

In [110]:
# cursor와 db server 동기화
db.commit()

### 데이터프레임을 DBserver에 즉각 대입 
- sqlalchemy , pandas 라이브러리 사용 
    - sqlalchemy 내장된 create_engine 함수를 이용
    - pandas의 DataFrame에서 to_sql() 함수를 이용
        - 필수 매개변수 
            - name 
                - 테이블의 이름을 지정 
            - con 
                - 데이터베이스 서버의 정보 (create_engine)
        - 선택 매개변수 
            - index
                - 기본값 : True
                - index의 데이터를 포함할것인가 
            - if_exists
                - 기본값 : fail
                - replace -> 데이터의 내용을 변경 
                - append -> 데이터를 추가 
                - fail -> 실패 처리

In [111]:
from sqlalchemy import create_engine

In [112]:
# create_engine 함수를 이용하여 서버의 정보를 저장 
# "{DB종류}+{DB연결라이브러리}://{DBuser명}:{비밀번호}@{DBhost}:{port}/{DataBase명}"
engine = create_engine(
    'mysql+pymysql://root:1234@localhost:3306/multicam'
)

In [113]:
df3.to_sql(
    name = 'test_data2', 
    con = engine, 
    index=False
)

10