In [ ]:
import pandas as pd 
import platform
import matplotlib.pyplot as plt

In [ ]:
# csv 폴더 안에 card 폴더 안에 있는 오프라인.csv 파일 로드 
offline = pd.read_csv("../csv/card/오프라인.csv", encoding='cp949')

In [ ]:
offline.info()

In [ ]:
offline.head()

1. 컬럼의 이름을 변경 -> 항목정의서의 컬럼의 설명을 기준으로 컬럼의 이름을 변경 
2. 결측치가 존재하는가?
    - non-null count을 기준으로 확인
    - 성별 컬럼에는 '-', 9 라는 데이터가 존재하는가?
3. 기준년월의 데이터를 시계열 데이터로 변환
4. 남, 여 성별을 기준으로 연도별 건당 이용 금액의 평균은 어떠한 차이를 나타내는가?
    - 기준년월의 시계열에서 년도를 추출하여 새로운 컬럼에 대입 
    - 건당이용금액 컬럼을 생성하여 총이용금액 / 총건수
    - 성별, 기준년 컬럼의 데이터로 그룹화 건당이용금액의 평균을 구한다. 
5. 해당 데이터를 막대그래프로 시각화

In [ ]:
# 항목정의서 파일을 로드 
col_info = pd.read_excel(
    "../csv/card/(수정)(항목정의서)유통+업종+카드소비트랜드+데이터_20211101.xlsx"
)

In [ ]:
offline.columns = col_info['데이터 컬럼']

In [21]:

offline.head()

     기준년월 업종 구분  성별  연령대   이용 건수         이용 금액
0  201901   백화점   1    1       1  7.600000e+03
1  201901   백화점   1   10     379  1.945872e+07
2  201901   백화점   1   20   45173  4.747711e+09
3  201901   백화점   1   30  271858  2.791826e+10
4  201901   백화점   1   40  391109  3.791149e+10

In [18]:

offline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648 entries, 0 to 2647
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준년월    2648 non-null   int64
 1   업종 구분   2648 non-null   object
 2   성별      2648 non-null   int64
 3   연령대     2648 non-null   int64
 4   이용 건수   2648 non-null   int64
 5   이용 금액   2648 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 124.3+ KB

In [ ]:
# 성별 컬럼에 '-', 9 데이터가 존재하는가?
# offline['성별'].isin(['-', '9', 9]).sum()
# offline['성별'].isin(['-', '9', 9]).any()
offline['성별'].isin([1, 2]).all()

In [ ]:
offline['성별'].value_counts()

In [ ]:
# 유일한 데이터를 출력 
offline['성별'].unique()