In [1]:
import pandas as pd 
import platform
import matplotlib.pyplot as plt

In [3]:
# csv 폴더 안에 card 폴더 안에 있는 오프라인.csv 파일 로드 
offline = pd.read_csv("../csv/card/오프라인.csv", encoding='cp949')

In [4]:
offline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648 entries, 0 to 2647
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   crym          2648 non-null   int64
 1   tco_btc_nm    2648 non-null   object
 2   ma_fem_dc     2648 non-null   int64
 3   agegrp_dc     2648 non-null   int64
 4   tco_btc_u_ct  2648 non-null   int64
 5   tco_btc_u_am  2648 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 124.3+ KB

In [5]:
offline.head()

     crym tco_btc_nm  ma_fem_dc  agegrp_dc  tco_btc_u_ct  tco_btc_u_am
0  201901        백화점          1          1             1  7.600000e+03
1  201901        백화점          1         10           379  1.945872e+07
2  201901        백화점          1         20         45173  4.747711e+09
3  201901        백화점          1         30        271858  2.791826e+10
4  201901        백화점          1         40        391109  3.791149e+10