# 1번 문제 
- subject-performance.csv 파일을 로드 '
- 소주제별 정답율을 계산
    - 정답률 = (해당 소주제의 정답 개수) / (해당 소주제의 전체 문제 풀이 수)
- 소주제들의 정답률 중 3번째로 높은 값을 구하시오
    - 정답률이 같다면 하나로 취급한다.
- 제출 형식은 소수점 셋째 자리까지 작성

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/subject_performance.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# 정답 컬럼의 데이터가 어떤 데이터가 존재하는가 확인 
df['is_correct'].unique()

In [ ]:
# 해당 데이터는 정답(1)과 오답(0)으로 나눠져있음
# 정답률은 소주제별 그룹화를 하고 평균을 구하면 된다. 
group_data =  df.groupby(['sub_topic'])['is_correct'].mean()

In [ ]:
group_data

In [ ]:
group_data = group_data.sort_values(ascending=False)

In [ ]:
group_data

In [ ]:
# 중복 값을 하나로 취급하니 중복 데이터를 제거 
group_data.drop_duplicates(inplace=True)

In [ ]:
# 3번째 값을 소수점 3번째 자리를 유지하고 반올림
round(group_data.iloc[2], 3)

In [ ]:
# 그룹화 -> 정답의 개수 / 총 데이터의 개수
# 분자에 들어갈 소주제별 정답의 개수
group_data2 = df.groupby(['sub_topic'])['is_correct'].sum()
# 분모에 들어갈 소주제별 문제의 개수 case1
group_data3 = df.groupby(['sub_topic'])['is_correct'].count()

In [ ]:
# 분모에 들어갈 소주제별 문제의 개수 case2
group_data4 = df['sub_topic'].value_counts()

In [ ]:
group_data

In [ ]:
group_data2 / group_data4

# 2번 문제 
- cafe_sales.csv 파일을 로드 
- 연-월별 총 매출액을 계산하여 큰 순서대로 정렬하고 2번째로 큰 매출액을 출력하시오
- 연-월별 총 매출액이 4번째로 큰 연-월을 찾으시오
    - 해당 연-월의 데이터에서 카테고리별 매출 합계를 계산하고, 그 중 최댓값을 입력하시오
- 제출 형식 : 정수

In [ ]:
df2 = pd.read_csv("data/cafe_sales.csv")

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
years, months = [], []
# 연월 컬럼을 생성 -> 문자에서 앞의 n개의 글자를 추출
for date in df2['order_date']:
    split_str = date.split('.')
    years.append(split_str[0])
    months.append(split_str[1])
    # print(f"Year: {split_str[0]}, Month: {split_str[1]}")
test_df = df2.copy()
test_df['year'] = years
test_df['month'] = months
test_df.head()

In [ ]:
for date in df2['order_date']:
    print(date[:7])

In [ ]:
df2['order_date'].map(lambda x : x[:7])

In [ ]:
# 년 월 별 매출액을 설정해야되니 연, 월 컬럼 생성 
df2['order_date'] = pd.to_datetime(df2['order_date'], format = "%Y.%m.%d %H:%M")

In [ ]:
df2.head()

In [ ]:
for date in df2['order_date']:
    print(date.strftime('%Y-%m'))

In [ ]:
df2['order_date'].map(lambda x : x.strftime('%Y-%m'))

In [ ]:
df2['order_date'].dt.strftime('%Y-%m')

In [41]:
df2['year'] = df2['order_date'].dt.year

In [42]:
df2['month'] = df2['order_date'].dt.month

In [43]:
df2.head()

           order_date  category      item  price  year  month
0 2025-03-08 23:30:00       tea  GreenTea   6861  2025      3
1 2025-10-01 13:05:00    coffee     Latte   6080  2025     10
2 2025-04-30 17:32:00  smoothie     Mango   6116  2025      4
3 2025-12-07 06:45:00       tea  BlackTea   7807  2025     12
4 2024-04-10 00:40:00   dessert    Cookie   7964  2024      4

In [44]:
# 연-월별 총 매출액 계산
group_data2 = df2.groupby(['year', 'month'])['price'].sum()

In [45]:
group_data2

year  month
2024  4        291906
      5        303992
      6        230115
      7        300886
      8        241602
      9        230353
      10       309026
      11       210704
      12       237023
2025  1        211567
      2        276728
      3        347848
      4        284055
      5        311810
      6        292062
      7        328741
      8        308798
      9        277927
      10       305833
      11       262399
      12       261205
Name: price, dtype: int64

In [46]:
group_data2 =  group_data2.sort_values(ascending=False)

In [47]:
# 총 매출액이 2번째로 큰 총 매출액 출력
print(group_data2.iloc[1])

328741

In [49]:
# 총 매출액이 4번째로 높은 인덱스를 확인
fourth_idx =  group_data2.index[3]

print(fourth_idx)

(np.int32(2024), np.int32(10))

In [50]:
# 조건식 : 2024년 10월의 데이터만 추출
flag = df2[['year', 'month']] == fourth_idx

In [54]:
flag.all(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [55]:
filetered_df = df2.loc[flag.all(axis=1)]

In [56]:
filetered_df

             order_date  category        item  price  year  month
28  2024-10-16 10:45:00   dessert     Brownie   8762  2024     10
55  2024-10-03 11:35:00       tea    BlackTea   8125  2024     10
74  2024-10-30 00:07:00  smoothie  Strawberry   6962  2024     10
75  2024-10-31 12:39:00  smoothie      Banana   6872  2024     10
83  2024-10-29 04:10:00    coffee   Americano   8646  2024     10
105 2024-10-16 20:40:00    coffee       Latte   6371  2024     10
160 2024-10-16 20:36:00       tea   HerbalTea   8009  2024     10
191 2024-10-04 09:10:00  smoothie      Banana   8396  2024     10
206 2024-10-07 02:55:00    coffee       Latte   5302  2024     10
219 2024-10-30 13:04:00    coffee       Latte   8332  2024     10
220 2024-10-18 05:21:00   dessert        Cake   6758  2024     10
226 2024-10-31 09:33:00   dessert     Brownie   6084  2024     10
230 2024-10-19 09:28:00   dessert        Cake   5854  2024     10
237 2024-10-14 23:53:00  smoothie  Strawberry   6100  2024     10
258 2024-10-30 05:34:00    coffee       Latte   2871  2024     10
291 2024-10-28 02:23:00    coffee       Latte   2648  2024     10
294 2024-10-04 13:43:00    coffee       Latte   2993  2024     10
315 2024-10-14 08:41:00  smoothie      Banana   7261  2024     10
389 2024-10-03 22:08:00       tea    GreenTea   4487  2024     10
407 2024-10-10 10:19:00   dessert        Cake   8841  2024     10
443 2024-10-29 22:05:00  smoothie  Strawberry   4301  2024     10
445 2024-10-18 00:50:00   dessert      Cookie   5822  2024     10
457 2024-10-14 05:47:00    coffee   Americano   8085  2024     10
458 2024-10-21 18:25:00  smoothie       Mango   8957  2024     10
521 2024-10-10 10:29:00  smoothie       Mango   5214  2024     10
522 2024-10-13 08:12:00    coffee       Latte   8978  2024     10
540 2024-10-11 22:08:00   dessert      Cookie   8453  2024     10
566 2024-10-04 20:33:00  smoothie  Strawberry   6553  2024     10
608 2024-10-21 18:15:00  smoothie  Strawberry   6217  2024     10
640 2024-10-27 02:12:00  smoothie  Strawberry   4654  2024     10
656 2024-10-31 04:46:00    coffee   Americano   6445  2024     10
666 2024-10-28 11:59:00       tea   HerbalTea   5574  2024     10
690 2024-10-26 14:32:00   dessert        Cake   3843  2024     10
699 2024-10-06 22:00:00    coffee  Cappuccino   3693  2024     10
701 2024-10-31 16:00:00    coffee       Latte   4440  2024     10
754 2024-10-14 21:54:00    coffee   Americano   8992  2024     10
786 2024-10-14 23:22:00  smoothie       Mango   6559  2024     10
795 2024-10-05 23:44:00  smoothie  Strawberry   7652  2024     10
801 2024-10-27 13:35:00       tea   HerbalTea   8438  2024     10
825 2024-10-09 00:57:00   dessert        Cake   3608  2024     10
853 2024-10-27 04:50:00       tea    BlackTea   6506  2024     10
902 2024-10-13 15:19:00  smoothie      Banana   4497  2024     10
904 2024-10-15 02:12:00       tea    GreenTea   5463  2024     10
911 2024-10-02 04:25:00  smoothie       Mango   4134  2024     10
915 2024-10-20 23:47:00    coffee   Americano   7003  2024     10
936 2024-10-22 23:22:00  smoothie       Mango   2798  2024     10
956 2024-10-22 10:28:00       tea    GreenTea   7284  2024     10
972 2024-10-07 15:38:00   dessert      Cookie   7656  2024     10
975 2024-10-17 00:31:00  smoothie  Strawberry   7533  2024     10

In [57]:
filetered_df.groupby('category')['price'].sum().max()

np.int64(104660)

In [58]:
df2['t-m'] = df2['order_date'].dt.strftime('%Y-%m')

In [59]:
df2.head()

           order_date  category      item  price  year  month      t-m
0 2025-03-08 23:30:00       tea  GreenTea   6861  2025      3  2025-03
1 2025-10-01 13:05:00    coffee     Latte   6080  2025     10  2025-10
2 2025-04-30 17:32:00  smoothie     Mango   6116  2025      4  2025-04
3 2025-12-07 06:45:00       tea  BlackTea   7807  2025     12  2025-12
4 2024-04-10 00:40:00   dessert    Cookie   7964  2024      4  2024-04

In [61]:
group_data5 =  df2.groupby('t-m')['price'].sum()

In [63]:
group_data5 = group_data5.sort_values(ascending = False)

In [65]:
print(group_data5.iloc[1])

328741

In [69]:
# 4번째의 인덱스 출력 
idx2 = group_data5.index[3]

In [71]:
flag2 = df2['t-m'] == idx2

In [73]:
filetered_df_2 = df2.loc[flag2]

In [74]:
group_data6 = filetered_df_2.groupby('category')['price'].sum()

In [76]:
group_data6.max()

np.int64(104660)

# 문제3
- 문자 메시지의 내용과 스팸 여부 데이터를 로드 
- 각 메시지의 단어 개수를 띄어쓰기를 기준으로 계산
- 스팸 메시지와 정상 메시지의 평균 단어의 개수를 계산
- 두 평균의 차이를 절대값으로 구하고 출력
- 제출형식 : 소수점 3번째 자리까지 유지하고 반올림

In [77]:
df3 = pd.read_csv("data/hamspam.csv")
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   text    2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [78]:
df3.head()

  label                                               text
0   ham  Incididunt tempor elit sit do aliqua eiusmod a...
1   ham       Adipiscing tempor lorem ipsum dolore tempor.
2  spam    Tempor tempor magna sed incididunt consectetur.
3   ham  Consectetur incididunt amet adipiscing amet lo...
4   ham                  Sit ipsum labore sit do sit elit.

In [82]:
# for text in df3['text']:
#     print(len(text.split()))

[ len(text.split()) for text in df3['text'] ]

[10,
 6,
 6,
 12,
 7,
 5,
 14,
 13,
 8,
 10,
 8,
 5,
 7,
 11,
 7,
 13,
 7,
 12,
 6,
 15,
 5,
 12,
 8,
 15,
 7,
 10,
 7,
 6,
 13,
 6,
 11,
 13,
 6,
 6,
 9,
 12,
 12,
 9,
 10,
 14,
 14,
 6,
 10,
 5,
 8,
 6,
 15,
 7,
 12,
 13,
 8,
 5,
 9,
 11,
 14,
 11,
 10,
 7,
 6,
 7,
 10,
 10,
 10,
 12,
 15,
 8,
 12,
 10,
 10,
 10,
 13,
 7,
 14,
 5,
 13,
 14,
 6,
 6,
 8,
 15,
 6,
 10,
 15,
 15,
 9,
 13,
 9,
 6,
 8,
 6,
 6,
 9,
 6,
 5,
 9,
 7,
 14,
 15,
 14,
 12,
 5,
 13,
 8,
 6,
 8,
 11,
 10,
 9,
 8,
 13,
 14,
 13,
 14,
 12,
 12,
 14,
 8,
 8,
 7,
 13,
 8,
 8,
 10,
 15,
 6,
 13,
 14,
 6,
 10,
 11,
 6,
 8,
 14,
 11,
 5,
 8,
 14,
 14,
 11,
 9,
 11,
 6,
 15,
 13,
 7,
 9,
 8,
 7,
 9,
 14,
 7,
 9,
 11,
 11,
 11,
 6,
 7,
 12,
 5,
 13,
 10,
 9,
 8,
 14,
 6,
 12,
 12,
 13,
 10,
 8,
 6,
 13,
 10,
 14,
 15,
 12,
 7,
 12,
 14,
 7,
 12,
 12,
 14,
 5,
 5,
 7,
 8,
 5,
 13,
 6,
 13,
 10,
 11,
 7,
 11,
 11,
 9,
 8,
 9,
 14,
 14,
 13,
 6,
 14,
 12,
 9,
 11,
 10,
 12,
 11,
 12,
 15,
 7,
 10,
 12,
 11,
 10,
 10,
 10,
 14,
 15,
 15,
 15,
 9,
 6,
 15,
 15,
 15,
 14,
 12,
 8,
 8,
 15,
 10,
 15,
 10,
 5,
 7,
 8,
 13,
 5,
 7,
 7,
 5,
 12,
 12,
 5,
 8,
 7,
 13,
 15,
 5,
 9,
 14,
 11,
 15,
 15,
 7,
 14,
 7,
 5,
 9,
 5,
 15,
 5,
 8,
 11,
 15,
 13,
 9,
 13,
 14,
 5,
 8,
 14,
 15,
 14,
 12,
 8,
 8,
 6,
 12,
 6,
 14,
 14,
 12,
 12,
 6,
 12,
 7,
 14,
 15,
 5,
 14,
 9,
 15,
 7,
 9,
 8,
 6,
 6,
 11,
 12,
 10,
 5,
 8,
 10,
 11,
 15,
 5,
 14,
 5,
 13,
 11,
 15,
 7,
 14,
 12,
 15,
 8,
 12,
 12,
 5,
 11,
 15,
 15,
 13,
 15,
 6,
 15,
 9,
 7,
 10,
 15,
 8,
 8,
 11,
 7,
 5,
 7,
 11,
 11,
 6,
 6,
 15,
 10,
 5,
 13,
 13,
 6,
 12,
 5,
 6,
 10,
 11,
 11,
 10,
 5,
 7,
 9,
 12,
 7,
 15,
 10,
 12,
 10,
 7,
 6,
 8,
 10,
 15,
 12,
 13,
 14,
 12,
 11,
 11,
 13,
 6,
 6,
 10,
 6,
 13,
 6,
 6,
 9,
 6,
 15,
 15,
 11,
 10,
 13,
 9,
 6,
 13,
 10,
 14,
 12,
 7,
 11,
 9,
 15,
 10,
 5,
 14,
 11,
 6,
 13,
 10,
 6,
 13,
 13,
 9,
 5,
 11,
 12,
 7,
 7,
 5,
 11,
 15,
 7,
 12,
 11,
 5,
 7,
 8,
 10,
 13,
 11,
 12,
 8,
 15,
 8,
 5,
 13,
 13,
 9,
 9,
 15,
 10,
 13,
 8,
 8,
 7,
 9,
 14,
 12,
 11,
 15,
 14,
 12,
 11,
 8,
 12,
 11,
 6,
 11,
 13,
 8,
 7,
 11,
 14,
 8,
 5,
 14,
 7,
 8,
 11,
 13,
 13,
 5,
 6,
 15,
 10,
 11,
 10,
 13,
 14,
 15,
 14,
 15,
 15,
 9,
 8,
 8,
 7,
 10,
 15,
 6,
 14,
 8,
 8,
 11,
 8,
 15,
 8,
 15,
 6,
 5,
 13,
 10,
 10,
 15,
 15,
 5,
 15,
 12,
 15,
 6,
 9,
 5,
 7,
 11,
 9,
 13,
 7,
 8,
 11,
 5,
 13,
 5,
 13,
 15,
 9,
 6,
 14,
 12,
 7,
 12,
 12,
 7,
 7,
 12,
 13,
 5,
 7,
 5,
 8,
 13,
 14,
 11,
 14,
 13,
 14,
 11,
 6,
 6,
 9,
 12,
 15,
 13,
 14,
 11,
 12,
 5,
 8,
 6,
 14,
 9,
 12,
 5,
 9,
 11,
 6,
 13,
 12,
 13,
 15,
 6,
 14,
 15,
 13,
 10,
 14,
 7,
 9,
 10,
 13,
 13,
 9,
 5,
 12,
 11,
 14,
 6,
 6,
 13,
 8,
 15,
 7,
 12,
 10,
 15,
 11,
 5,
 13,
 9,
 15,
 7,
 10,
 8,
 15,
 7,
 7,
 10,
 7,
 13,
 7,
 6,
 12,
 9,
 10,
 5,
 5,
 5,
 10,
 7,
 15,
 13,
 12,
 11,
 13,
 8,
 12,
 8,
 14,
 8,
 5,
 12,
 6,
 12,
 10,
 13,
 7,
 9,
 7,
 5,
 5,
 5,
 7,
 6,
 9,
 14,
 6,
 15,
 7,
 5,
 10,
 9,
 9,
 15,
 11,
 15,
 12,
 10,
 12,
 14,
 5,
 7,
 12,
 15,
 14,
 7,
 11,
 15,
 14,
 14,
 13,
 14,
 12,
 14,
 8,
 7,
 10,
 14,
 9,
 11,
 5,
 11,
 12,
 14,
 6,
 15,
 13,
 13,
 7,
 8,
 7,
 9,
 13,
 8,
 13,
 13,
 9,
 11,
 15,
 14,
 9,
 12,
 10,
 8,
 14,
 14,
 7,
 13,
 12,
 5,
 6,
 8,
 12,
 5,
 6,
 13,
 9,
 10,
 5,
 10,
 13,
 14,
 5,
 11,
 12,
 14,
 5,
 13,
 11,
 9,
 6,
 14,
 12,
 6,
 12,
 13,
 8,
 5,
 10,
 7,
 11,
 12,
 6,
 11,
 12,
 13,
 9,
 9,
 8,
 7,
 6,
 6,
 6,
 15,
 15,
 13,
 12,
 15,
 8,
 9,
 11,
 13,
 7,
 8,
 13,
 13,
 13,
 14,
 13,
 8,
 13,
 9,
 5,
 5,
 12,
 9,
 15,
 6,
 7,
 12,
 5,
 7,
 10,
 9,
 9,
 12,
 14,
 12,
 6,
 12,
 6,
 15,
 11,
 14,
 15,
 15,
 15,
 9,
 14,
 9,
 12,
 9,
 6,
 15,
 10,
 12,
 13,
 6,
 12,
 15,
 6,
 12,
 7,
 15,
 14,
 14,
 12,
 9,
 10,
 11,
 12,
 9,
 12,
 11,
 12,
 13,
 13,
 9,
 11,
 10,
 10,
 9,
 5,
 13,
 8,
 10,
 8,
 7,
 6,
 7,
 6,
 11,
 7,
 12,
 13,
 9,
 14,
 12,
 15,
 10,
 9,
 14,
 14,
 10,
 7,
 9,
 9,
 7,
 12,
 13,
 8,
 14,
 12,
 6,
 8,
 9,
 8,
 9,
 12,
 7,
 15,
 11,
 9,
 8,
 6,
 14,
 10,
 6,
 10,
 12,
 7,
 10,
 10,
 9,
 5,
 9,
 11,
 8,
 12,
 8,
 12,
 13,
 6,
 13,
 7,
 15,
 8,
 10,
 7,
 10,
 5,
 12,
 11,
 12,
 9,
 5,
 14,
 10,
 14,
 6,
 11,
 9,
 11,
 15,
 11,
 12,
 9,
 15,
 11,
 14,
 9,
 14,
 15,
 6,
 10,
 7,
 6,
 7,
 8,
 13,
 12,
 5,
 14,
 9,
 10,
 10,
 12,
 5,
 11,
 14,
 13,
 8,
 15,
 14,
 12,
 14,
 5,
 14,
 15,
 9,
 12,
 7,
 7,
 6,
 15,
 5,
 12,
 8,
 6,
 5,
 13,
 15,
 9,
 14,
 5,
 15,
 12,
 12,
 7,
 12,
 9,
 11,
 11,
 9,
 7,
 10,
 11,
 9,
 13,
 5,
 14,
 8,
 5,
 6,
 9,
 13,
 5,
 7,
 5,
 10,
 5,
 11,
 13,
 15,
 12,
 5,
 15,
 7,
 14,
 13,
 10,
 11,
 ...]

In [83]:
df3['cnt'] = df3['text'].str.split().map(len)

In [84]:
df3

     label                                               text  cnt
0      ham  Incididunt tempor elit sit do aliqua eiusmod a...   10
1      ham       Adipiscing tempor lorem ipsum dolore tempor.    6
2     spam    Tempor tempor magna sed incididunt consectetur.    6
3      ham  Consectetur incididunt amet adipiscing amet lo...   12
4      ham                  Sit ipsum labore sit do sit elit.    7
...    ...                                                ...  ...
1995   ham  Lorem tempor aliqua dolor dolore tempor do lab...   15
1996  spam  Sit ut aliqua adipiscing incididunt sit consec...    8
1997  spam  Ipsum aliqua incididunt et dolore tempor eiusm...   12
1998   ham          Eiusmod do elit consectetur labore do do.    7
1999   ham  Sed sed lorem aliqua dolore labore do incididu...   12

[2000 rows x 3 columns]

In [85]:
group_data3 =  df3.groupby('label')['cnt'].mean()

In [86]:
group_data3

label
ham     10.070026
spam    10.022919
Name: cnt, dtype: float64

In [87]:
abs(
    round(
        group_data3[0] - group_data3[1], 
        3
    )
)

C:\Users\ekfla\AppData\Local\Temp\ipykernel_15808\1127332242.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  group_data3[0] - group_data3[1],

np.float64(0.047)

In [89]:
ham_df = df3.loc[
    df3['label'] == 'ham', 
]
spam_df = df3.loc[
    df3['label'] == 'spam', 
]

In [92]:
ham_mean = ham_df['cnt'].mean()
spam_mean = spam_df['cnt'].mean()

print(f"ham mean: {ham_mean}")
print(f"spam mean: {spam_mean}")

ham mean: 10.07002561912895
spam mean: 10.02291917973462

In [93]:
abs(
    round(
        ham_mean - spam_mean, 3
    )
)

np.float64(0.047)