**PART 07 최신 기출문제**
>**기출문제 제7회**
>>**01 작업형 제1유형**

In [23]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

from sklearn import set_config
set_config(display = "diagram") # scikit-learn 파이프라인 시각화

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_1_1.csv')
df.head()

,제품보고서번호,공장명,결함유형,신고일자,신고시각,처리일자,처리시각,작업자직업명,사고발생장소
0,202200000001M25795,공장B,기계 결함,20220722,205914,20221027,184738,기술자,라인5
1,202200000002M10860,공장B,품질 문제,20220622,31050,20221109,132745,검사원,라인3
2,202200000003M86820,공장B,전기 결함,20220424,140320,20221130,35714,기술자,라인2
3,202200000004M64886,공장B,기계 결함,20220213,122118,20220606,23600,기술자,라인5
4,202200000005M16265,공장C,전기 결함,20220924,11303,20220427,24623,기타,라인3

In [24]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   제품보고서번호  500 non-null    object
 1   공장명      500 non-null    object
 2   결함유형     500 non-null    object
 3   신고일자     500 non-null    int64
 4   신고시각     500 non-null    int64
 5   처리일자     500 non-null    int64
 6   처리시각     500 non-null    int64
 7   작업자직업명   500 non-null    object
 8   사고발생장소   500 non-null    object
dtypes: int64(4), object(5)
memory usage: 35.3+ KB
None

In [25]:
df.loc[:, ['신고일자', '신고시각', '처리일자', '처리시각']] = \
    df.loc[:, ['신고일자', '신고시각', '처리일자', '처리시각']].astype(str)

C:\Users\ekfla\AppData\Local\Temp\ipykernel_25376\1107402524.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['20220722' '20220622' '20220424' '20220213' '20220924' '20220312'
 '20220211' '20220603' '20221017' '20220929' '20220120' '20220615'
 '20220710' '20220823' '20220825' '20220513' '20220724' '20220625'
 '20221119' '20220713' '20220610' '20220528' '20220728' '20221020'
 '20220715' '20220829' '20220926' '20220709' '20220605' '20221116'
 '20220601' '20220618' '20221227' '20220101' '20220309' '20220520'
 '20221206' '20220126' '20220104' '20220120' '20220202' '20220114'
 '20220624' '20220731' '20220409' '20220525' '20220203' '20220503'
 '20220710' '20220924' '20220102' '20220620' '20220419' '20221107'
 '20220918' '20220803' '20220411' '20221128' '20220117' '20220209'
 '20220523' '20220215' '20221215' '20221018' '20220405' '20220803'
 '20221224' '20221118' '20220807' '20221125' '20221227' '20220928'
 '20220124' '20220527' '20221101' '20220325' '20221030' '20220213'
 '20220118' '20220520' '20220114' '20221215' '20221028' '20221019'
 '20220818' '20220320' '20220708' '20220806' '20220711' '20220405'
 '20220707' '20220628' '20221229' '20221123' '20220618' '20220815'
 '20220930' '20220113' '20221122' '20221110' '20220616' '20220523'
 '20220410' '20220623' '20220117' '20221107' '20220113' '20220430'
 '20221206' '20220925' '20220413' '20220402' '20220102' '20220911'
 '20220118' '20220713' '20221217' '20220209' '20221122' '20221227'
 '20220123' '20221118' '20220707' '20221126' '20220727' '20220830'
 '20220717' '20221111' '20220925' '20220709' '20221113' '20220331'
 '20220227' '20220228' '20220502' '20220328' '20221205' '20220208'
 '20220912' '20220310' '20221117' '20221216' '20220619' '20221116'
 '20220102' '20221026' '20220325' '20221127' '20220101' '20220722'
 '20221003' '20220405' '20220312' '20220131' '20220429' '20220723'
 '20220212' '20220518' '20220104' '20221025' '20220216' '20220414'
 '20220107' '20220607' '20221102' '20220523' '20220307' '20221002'
 '20221015' '20220305' '20221008' '20221211' '20220302' '20221008'
 '20220915' '20220622' '20220122' '20220128' '20221107' '20221227'
 '20220904' '20220612' '20220824' '20220805' '20220520' '20220124'
 '20221027' '20220516' '20221026' '20220402' '20220101' '20220227'
 '20220620' '20221210' '20220207' '20221107' '20220711' '20221028'
 '20220419' '20221102' '20221009' '20220325' '20220217' '20221112'
 '20221217' '20220112' '20220924' '20221128' '20221109' '20221218'
 '20221004' '20220610' '20220424' '20220427' '20220921' '20220929'
 '20220314' '20221112' '20220918' '20220724' '20220621' '20220717'
 '20220227' '20220316' '20220203' '20220225' '20220615' '20220713'
 '20220107' '20221018' '20220418' '20221128' '20221219' '20220309'
 '20220618' '20220101' '20220806' '20220810' '20220401' '20220723'
 '20220324' '20220228' '20220826' '20220429' '20220803' '20220607'
 '20221225' '20220224' '20220619' '20220905' '20220524' '20221221'
 '20220920' '20220828' '20221003' '20221213' '20221127' '20220921'
 '20220930' '20220223' '20220207' '20220727' '20220107' '20220625'
 '20220318' '20220506' '20221010' '20221209' '20220127' '20220714'
 '20221118' '20220131' '20221028' '20220511' '20220428' '20221222'
 '20220315' '20220910' '20221027' '20220115' '20220902' '20221213'
 '20220215' '20221123' '20220805' '20220813' '20220812' '20220419'
 '20221207' '20221211' '20220816' '20221013' '20220811' '20220626'
 '20220829' '20220721' '20220806' '20221013' '20220625' '20220115'
 '20220301' '20220609' '20220921' '20220804' '20220825' '20220624'
 '20220813' '20220430' '20220621' '20220928' '20221114' '20220607'
 '20220116' '20220228' '20220108' '20220826' '20220501' '20220717'
 '20220629' '20220130' '20220527' '20220322' '20220602' '20220316'
 '20221102' '20220305' '20221216' '20220601' '20221105' '20220817'
 '20220925' '20221007' '20220703' '20220717' '20220707' '20220803'
 '20220111' '20220524' '20220809' '20220806' '20221016' '20220827'
 '20221228' '20220414' '20220511' '20220520' '20220619' '20221101'
 '20220327' '20221010' '20220528' '20220808' '20220819' '20220516'
 '20220706' '20220531' '20220126' '20220609' '20220205' '20220528'
 '20220804' '20220730' '20220830' '20220204' '20220826' '20220424'
 '20220526' '20221109' '20220104' '20220803' '20220806' '20220525'
 '20220328' '20220327' '20221118' '20220610' '20220501' '20220613'
 '20220901' '20220223' '20220613' '20220802' '20221212' '20220402'
 '20220511' '20220519' '20220809' '20220510' '20220714' '20221012'
 '20220914' '20220612' '20221111' '20220723' '20220716' '20220113'
 '20221226' '20220214' '20220326' '20220119' '20220821' '20220323'
 '20220307' '20220202' '20220207' '20220801' '20220908' '20220525'
 '20220624' '20220907' '20220107' '20220428' '20221221' '20220731'
 '20220403' '20220709' '20220505' '20220713' '20220215' '20220218'
 '20220222' '20221209' '20220924' '20220301' '20220310' '20220924'
 '20220226' '20220327' '20221217' '20220403' '20220829' '20221223'
 '20220517' '20220107' '20220330' '20221030' '20221111' '20221007'
 '20220211' '20221017' '20221201' '20220807' '20221209' '20221028'
 '20220831' '20220730' '20220507' '20220227' '20220809' '20220426'
 '20221112' '20221228' '20221001' '20220202' '20220416' '20220209'
 '20220825' '20221006' '20221203' '20220609' '20221125' '20221116'
 '20220426' '20221113' '20220517' '20220419' '20220825' '20220430'
 '20220818' '20220810' '20220725' '20220519' '20220719' '20220806'
 '20220718' '20220611' '20220106' '20220802' '20220303' '20220822'
 '20221004' '20220702' '20220717' '20221213' '20221105' '20221129'
 '20221024' '20220209' '20220224' '20220711' '20220331' '20220623'
 '20220524' '20220719' '20220929' '20220918' '20220709' '20221027'
 '20220606' '20221123']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, ['신고일자', '신고시각', '처리일자', '처리시각']] = \
C:\Users\ekfla\AppData\Local\Temp\ipykernel_25376\1107402524.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['205914' '31050' '140320' '122118' '11303' '155251' '132628' '142734'
 '71541' '32917' '14812' '32524' '100630' '110938' '123006' '234841'
 '95535' '190353' '65300' '115544' '94658' '125421' '212021' '82508'
 '140923' '90723' '154825' '40349' '231835' '60924' '171835' '93254'
 '170446' '163443' '13254' '201621' '153614' '22706' '100908' '131256'
 '13406' '201702' '95338' '84810' '62359' '131803' '54131' '64445' '33936'
 '3502' '80732' '54038' '31248' '15904' '112631' '200737' '74902' '214357'
 '22105' '12243' '13716' '23322' '190721' '115735' '41228' '145654'
 '154129' '221511' '161511' '71902' '152944' '222750' '75304' '193955'
 '110056' '201905' '211707' '63132' '201511' '55133' '133532' '224944'
 '14020' '12656' '80010' '25122' '31754' '53421' '101421' '45141' '114648'
 '93717' '123429' '234129' '130502' '150651' '130814' '203401' '13417'
 '131917' '92401' '213235' '130045' '155345' '190234' '80524' '125233'
 '72033' '32414' '34459' '113131' '123013' '191728' '53128' '100159'
 '221830' '180418' '10924' '11049' '231408' '221808' '22008' '135006'
 '151559' '303' '63916' '43859' '192851' '35937' '64936' '193406' '211306'
 '42104' '220126' '205337' '142009' '225755' '60400' '122025' '174420'
 '201736' '123135' '163448' '102051' '225225' '33351' '155917' '73440'
 '192837' '92041' '124840' '165508' '80001' '152832' '94957' '72027'
 '105433' '75821' '74814' '165922' '234418' '43143' '2236' '71207'
 '224200' '125023' '22316' '41920' '75730' '133510' '191418' '65027'
 '184257' '40429' '213107' '93746' '152716' '73924' '80114' '170248'
 '30313' '84024' '224909' '203511' '70153' '125231' '153131' '11009'
 '141639' '175408' '75813' '172151' '192043' '184548' '232034' '223848'
 '114046' '172012' '200745' '74506' '224331' '102121' '102421' '121701'
 '201451' '173014' '182223' '111221' '103632' '230253' '182228' '64346'
 '44607' '95715' '70043' '40200' '33934' '93342' '92045' '62626' '14047'
 '120851' '32141' '211116' '131356' '15256' '191015' '183054' '55518'
 '45703' '140319' '92353' '22536' '52053' '73820' '93745' '35956' '121916'
 '220603' '130223' '41557' '225103' '232333' '171830' '184845' '182123'
 '121129' '55230' '31847' '123529' '224854' '1751' '165827' '141056'
 '214432' '160503' '194746' '140546' '135910' '60825' '150456' '190949'
 '21242' '162953' '120516' '125052' '184134' '132550' '42836' '194820'
 '90435' '52503' '63849' '20023' '30540' '214559' '115956' '192324'
 '32029' '234341' '212706' '25427' '135509' '151553' '92412' '54308'
 '123555' '101917' '105620' '34932' '60514' '173155' '101923' '144706'
 '204125' '115513' '45720' '170402' '222536' '234818' '182420' '115640'
 '4952' '34156' '62154' '1623' '12757' '104038' '214816' '10545' '53300'
 '92004' '12147' '10933' '154750' '62111' '234639' '55958' '93450'
 '163106' '201925' '34551' '211455' '72014' '215127' '132640' '75727'
 '160124' '230207' '113241' '193405' '65122' '174218' '45010' '231109'
 '72359' '83536' '200754' '84614' '154539' '174159' '190511' '10615'
 '24402' '174239' '53227' '5407' '43159' '154236' '32905' '135318' '81110'
 '135415' '4454' '202029' '123303' '55730' '222604' '23203' '193325'
 '43427' '85137' '170518' '115610' '14643' '110820' '233321' '21127'
 '152027' '232532' '203451' '14050' '141757' '105622' '152116' '44310'
 '142634' '1915' '10134' '75527' '143805' '81959' '754' '220203' '143714'
 '203456' '205245' '191335' '111638' '83459' '121417' '183205' '225826'
 '15545' '51335' '200734' '182913' '194824' '72313' '52221' '155618'
 '135002' '91808' '194406' '130858' '225659' '184651' '135537' '203539'
 '162908' '5551' '131052' '24058' '132940' '35803' '70140' '132140'
 '235415' '164729' '113410' '134920' '200447' '193602' '113252' '80803'
 '21633' '233100' '74422' '143911' '211145' '141440' '182551' '213920'
 '183719' '180354' '62727' '32111' '120221' '110123' '12654' '80007'
 '223705' '212417' '161105' '71859' '90056' '124834' '71334' '154419'
 '234812' '54845' '160742' '195932' '62052' '164142' '214008' '233648'
 '81623' '205058' '65440' '61210' '131810' '124544' '3943' '181107'
 '75244' '114732' '122538' '40724' '132229' '124622' '164619' '171701'
 '32932' '31736' '184627' '71948' '1157' '181440' '60128' '80901' '181012'
 '91317' '185308' '62702' '190526' '200128' '50215' '70116' '81134'
 '100054' '121425' '42048' '222356' '52720' '214217' '33444' '220852'
 '55729' '113331']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, ['신고일자', '신고시각', '처리일자', '처리시각']] = \
C:\Users\ekfla\AppData\Local\Temp\ipykernel_25376\1107402524.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['20221027' '20221109' '20221130' '20220606' '20220427' '20220731'
 '20220516' '20220807' '20220914' '20220908' '20220517' '20220302'
 '20220606' '20220221' '20221120' '20220506' '20220226' '20220110'
 '20220824' '20220820' '20220504' '20220127' '20220530' '20220424'
 '20220904' '20220809' '20220513' '20220321' '20221226' '20220615'
 '20220908' '20220221' '20220626' '20220111' '20220703' '20221217'
 '20220520' '20220115' '20220112' '20220522' '20220228' '20220109'
 '20221003' '20220616' '20220416' '20221124' '20220212' '20221214'
 '20220425' '20221120' '20220808' '20221028' '20221225' '20220415'
 '20221216' '20220522' '20220521' '20220504' '20220717' '20220226'
 '20220721' '20220717' '20221005' '20221031' '20220610' '20220421'
 '20220405' '20220312' '20220121' '20220505' '20220409' '20221218'
 '20220723' '20220507' '20220731' '20220220' '20220611' '20220816'
 '20220627' '20220527' '20221228' '20221117' '20220815' '20220727'
 '20220814' '20220315' '20220524' '20220115' '20220623' '20220717'
 '20220324' '20221217' '20221128' '20220920' '20220714' '20221113'
 '20220217' '20221015' '20220215' '20221017' '20220411' '20221116'
 '20221210' '20220224' '20220618' '20221224' '20220625' '20221111'
 '20220803' '20220517' '20220415' '20220315' '20221005' '20220521'
 '20220706' '20220629' '20220730' '20221112' '20221223' '20220529'
 '20221029' '20221006' '20220728' '20221215' '20220314' '20220209'
 '20221107' '20220609' '20221105' '20221122' '20220123' '20221118'
 '20220613' '20220705' '20220817' '20221204' '20220107' '20220623'
 '20220908' '20220921' '20220910' '20220218' '20220419' '20220511'
 '20221020' '20220412' '20220318' '20221215' '20220104' '20221230'
 '20220904' '20221029' '20220418' '20220106' '20220926' '20221031'
 '20220927' '20220221' '20221002' '20221007' '20220828' '20221006'
 '20221104' '20220812' '20220202' '20220627' '20220129' '20220529'
 '20220529' '20220125' '20220507' '20220210' '20221022' '20221211'
 '20220127' '20221214' '20220710' '20220420' '20220128' '20220702'
 '20221017' '20220915' '20220119' '20220127' '20220527' '20220418'
 '20220326' '20220413' '20221020' '20221205' '20220528' '20221126'
 '20220428' '20220623' '20220324' '20220822' '20221223' '20220808'
 '20220511' '20220824' '20220214' '20221120' '20220703' '20220613'
 '20220802' '20220816' '20220127' '20220906' '20220330' '20220917'
 '20221027' '20221020' '20220721' '20220709' '20220222' '20221010'
 '20220409' '20220630' '20220414' '20220218' '20220818' '20220120'
 '20220930' '20220426' '20220101' '20220706' '20220118' '20220411'
 '20220915' '20220123' '20221102' '20220102' '20220331' '20220927'
 '20220426' '20220207' '20220512' '20220409' '20221103' '20220425'
 '20221015' '20221121' '20220607' '20221128' '20220518' '20221217'
 '20220202' '20220908' '20220629' '20220522' '20220819' '20220914'
 '20220102' '20220302' '20220917' '20220831' '20221218' '20221005'
 '20221213' '20220913' '20220419' '20220208' '20221012' '20220823'
 '20220118' '20220512' '20221215' '20220702' '20220607' '20220616'
 '20220318' '20220515' '20220515' '20220120' '20221007' '20220601'
 '20221027' '20221106' '20220319' '20220828' '20220621' '20221117'
 '20220320' '20220904' '20220810' '20220418' '20220219' '20220826'
 '20220926' '20220425' '20220823' '20220524' '20220917' '20220314'
 '20221121' '20220415' '20220514' '20220122' '20220210' '20220707'
 '20220408' '20221101' '20220106' '20220518' '20220503' '20220108'
 '20220215' '20220531' '20220629' '20220528' '20220713' '20220805'
 '20220104' '20220618' '20221217' '20220708' '20220904' '20220424'
 '20221009' '20221009' '20220709' '20221222' '20220215' '20220107'
 '20221008' '20221021' '20220213' '20220407' '20220107' '20220417'
 '20221009' '20220708' '20220507' '20220516' '20220101' '20220420'
 '20220824' '20221221' '20221105' '20220109' '20221124' '20221013'
 '20221012' '20220616' '20220525' '20220421' '20220124' '20220325'
 '20220331' '20220626' '20220930' '20220622' '20220122' '20221215'
 '20221210' '20221013' '20221227' '20220718' '20221217' '20220128'
 '20220514' '20220324' '20220313' '20220221' '20220815' '20221012'
 '20220730' '20220223' '20221023' '20220820' '20220522' '20220903'
 '20220405' '20220506' '20221130' '20220416' '20220621' '20221121'
 '20220915' '20220123' '20220223' '20220103' '20220818' '20220612'
 '20220218' '20221215' '20220712' '20220330' '20220702' '20220905'
 '20220128' '20220410' '20221021' '20220617' '20220718' '20220607'
 '20220116' '20220302' '20220612' '20220318' '20220119' '20221104'
 '20221224' '20221016' '20221107' '20220330' '20221216' '20220313'
 '20221213' '20221229' '20220917' '20221224' '20220727' '20220405'
 '20220609' '20220805' '20220127' '20220815' '20221224' '20220311'
 '20221016' '20221127' '20221210' '20221216' '20220709' '20221222'
 '20221003' '20220228' '20220623' '20220919' '20220401' '20220822'
 '20220831' '20220301' '20220725' '20221008' '20220701' '20220105'
 '20220104' '20220510' '20221204' '20220325' '20220819' '20220322'
 '20220428' '20221105' '20220923' '20220204' '20220606' '20220111'
 '20220625' '20220830' '20220213' '20220416' '20220525' '20221201'
 '20221228' '20220117' '20221005' '20220516' '20220523' '20221002'
 '20221201' '20221213' '20220730' '20220510' '20221014' '20220402'
 '20220725' '20220511' '20220828' '20220329' '20220311' '20221201'
 '20220207' '20220704' '20220322' '20220115' '20220114' '20220305'
 '20221112' '20220413' '20221212' '20220731' '20220608' '20220731'
 '20220708' '20221004' '20220413' '20220509' '20221122' '20221211'
 '20221121' '20220602' '20221012' '20220623' '20220701' '20220316'
 '20220804' '20220309']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, ['신고일자', '신고시각', '처리일자', '처리시각']] = \
C:\Users\ekfla\AppData\Local\Temp\ipykernel_25376\1107402524.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['184738' '132745' '35714' '23600' '24623' '73533' '232341' '30233'
 '162252' '235122' '120430' '204056' '210536' '93906' '63720' '190250'
 '214603' '113750' '34640' '41222' '172936' '152650' '135647' '145335'
 '61555' '212053' '200748' '155854' '90931' '10816' '103109' '215616'
 '34751' '142458' '203637' '160024' '183516' '82301' '71431' '65805'
 '4622' '65616' '15840' '81205' '51951' '200216' '161147' '144454' '1602'
 '143531' '31748' '184251' '23913' '1333' '220323' '180556' '4839'
 '185200' '42615' '53912' '153418' '111558' '100924' '193003' '112201'
 '232150' '40706' '135554' '24915' '221850' '175115' '75932' '161152'
 '100426' '111605' '456' '130453' '235832' '174740' '182104' '12946'
 '60332' '121953' '61422' '132218' '212855' '192823' '170940' '72528'
 '91601' '55704' '80417' '194048' '161106' '20933' '21501' '230937'
 '212542' '223826' '143719' '85319' '111819' '24601' '203321' '20514'
 '90832' '150540' '35859' '12803' '1825' '95214' '215047' '205855'
 '213533' '122700' '164403' '64808' '31800' '93508' '124541' '54737'
 '160949' '214934' '195820' '141403' '82625' '185527' '164256' '84149'
 '194439' '64852' '224631' '194632' '130442' '153339' '104902' '1015'
 '172947' '220917' '51835' '125545' '20937' '5455' '130750' '134116'
 '80542' '64859' '5336' '81755' '200157' '105859' '55739' '34959' '103614'
 '173321' '105756' '120321' '64253' '230327' '140054' '21337' '175600'
 '53720' '152804' '160927' '204906' '24446' '191834' '30400' '31159'
 '234122' '205751' '232444' '224531' '223104' '34541' '164157' '61532'
 '162008' '55044' '23821' '85304' '92216' '112215' '22956' '210828'
 '143622' '123145' '194647' '224416' '223920' '13605' '111729' '215332'
 '164231' '95013' '94659' '183533' '84127' '101338' '224653' '185314'
 '230742' '84632' '1802' '93946' '90028' '173350' '125300' '12847'
 '141247' '165228' '62325' '160612' '42548' '20657' '163852' '4816'
 '102458' '21428' '204231' '152453' '85555' '2856' '211540' '184350'
 '214006' '132818' '180140' '121402' '105245' '71750' '150131' '72105'
 '114656' '73514' '195648' '121701' '124453' '141928' '92802' '180253'
 '133958' '220358' '191057' '103126' '100148' '82730' '15514' '152435'
 '70857' '44744' '63157' '191634' '41843' '62708' '52857' '161522' '22025'
 '34136' '202141' '114112' '105315' '73958' '74458' '12929' '110943'
 '101415' '162501' '171150' '221731' '163756' '140237' '22900' '123127'
 '205745' '122635' '62109' '65214' '140331' '225405' '231957' '41911'
 '2707' '3621' '52031' '21404' '234549' '150524' '234558' '233928' '63912'
 '51701' '71032' '213747' '191142' '90244' '23014' '151248' '25110'
 '205053' '102959' '155234' '213730' '132349' '163135' '221442' '20215'
 '42009' '182403' '184201' '94224' '194718' '222310' '133354' '45804'
 '182011' '170353' '164119' '52413' '103110' '172654' '211755' '221020'
 '110422' '85824' '85309' '211800' '60300' '143911' '212149' '141628'
 '131349' '194947' '5458' '101411' '75319' '50227' '232529' '121201'
 '44837' '13553' '100743' '74221' '190728' '72529' '161951' '221545'
 '100615' '125846' '234726' '202223' '83450' '193641' '164630' '225607'
 '143052' '131959' '65254' '114816' '92928' '184510' '14906' '115733'
 '194937' '230931' '191436' '190236' '70739' '115522' '71045' '72829'
 '235909' '62748' '31231' '33625' '210330' '173723' '232221' '13054'

In [26]:
df2 = df.copy()

In [27]:
# Convert '신고일자' and '신고시각' to strings and combine them
df['신고일시_str'] = df['신고일자'].astype(str) + \
    df['신고시각'].astype(str).str.zfill(6)

# Convert '처리일자' and '처리시각' to strings and combine them
df['처리일시_str'] = df['처리일자'].astype(str) + \
    df['처리시각'].astype(str).str.zfill(6)

df.head()

,제품보고서번호,공장명,결함유형,신고일자,신고시각,처리일자,처리시각,작업자직업명,사고발생장소,신고일시_str,처리일시_str
0,202200000001M25795,공장B,기계 결함,20220722,205914,20221027,184738,기술자,라인5,20220722205914,20221027184738
1,202200000002M10860,공장B,품질 문제,20220622,31050,20221109,132745,검사원,라인3,20220622031050,20221109132745
2,202200000003M86820,공장B,전기 결함,20220424,140320,20221130,35714,기술자,라인2,20220424140320,20221130035714
3,202200000004M64886,공장B,기계 결함,20220213,122118,20220606,23600,기술자,라인5,20220213122118,20220606023600
4,202200000005M16265,공장C,전기 결함,20220924,11303,20220427,24623,기타,라인3,20220924011303,20220427024623

In [28]:
# df2['신고일자'].astype(str) + df2['신고시각'].astype(str)
df['신고시각'].map(
    lambda x :  '0'+x if len(x) == 5 else x
)

0      205914
1      031050
2      140320
3      122118
4      011303
        ...
495    214217
496    033444
497    220852
498    055729
499    113331
Name: 신고시각, Length: 500, dtype: object

In [29]:
pd.to_datetime(df['신고일시_str'])

0     2022-07-22 20:59:14
1     2022-06-22 03:10:50
2     2022-04-24 14:03:20
3     2022-02-13 12:21:18
4     2022-09-24 01:13:03
              ...
495   2022-09-18 21:42:17
496   2022-07-09 03:34:44
497   2022-10-27 22:08:52
498   2022-06-06 05:57:29
499   2022-11-23 11:33:31
Name: 신고일시_str, Length: 500, dtype: datetime64[ns]

In [30]:

# Convert combined strings to datetime objects, coercing errors
df['신고일시'] = pd.to_datetime(df['신고일시_str'])
df['처리일시'] = pd.to_datetime(df['처리일시_str'])

# Drop the intermediate string columns
df = df.drop(columns=['신고일시_str', '처리일시_str'])

In [ ]:
df.head()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   제품보고서번호  500 non-null    object
 1   공장명      500 non-null    object
 2   결함유형     500 non-null    object
 3   신고일자     500 non-null    object
 4   신고시각     500 non-null    object
 5   처리일자     500 non-null    object
 6   처리시각     500 non-null    object
 7   작업자직업명   500 non-null    object
 8   사고발생장소   500 non-null    object
 9   신고일시     500 non-null    datetime64[ns]
 10  처리일시     500 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(9)
memory usage: 43.1+ KB

In [36]:
(df['처리일시'] - df['신고일시']).dt.total_seconds().head(2)

0     8372904.0
1    12133015.0
dtype: float64

In [37]:

df['처리시간'] = (df['처리일시'] - df['신고일시']).dt.total_seconds()

In [38]:
df.head()

,제품보고서번호,공장명,결함유형,신고일자,신고시각,처리일자,처리시각,작업자직업명,사고발생장소,신고일시,처리일시,처리시간
0,202200000001M25795,공장B,기계 결함,20220722,205914,20221027,184738,기술자,라인5,2022-07-22 20:59:14,2022-10-27 18:47:38,8372904.0
1,202200000002M10860,공장B,품질 문제,20220622,31050,20221109,132745,검사원,라인3,2022-06-22 03:10:50,2022-11-09 13:27:45,12133015.0
2,202200000003M86820,공장B,전기 결함,20220424,140320,20221130,35714,기술자,라인2,2022-04-24 14:03:20,2022-11-30 03:57:14,18971634.0
3,202200000004M64886,공장B,기계 결함,20220213,122118,20220606,23600,기술자,라인5,2022-02-13 12:21:18,2022-06-06 02:36:00,9728082.0
4,202200000005M16265,공장C,전기 결함,20220924,11303,20220427,24623,기타,라인3,2022-09-24 01:13:03,2022-04-27 02:46:23,-12954400.0

In [42]:
mean_response_time = df.groupby('공장명')[['처리시간']].mean().reset_index()
mean_response_time

   공장명          처리시간
0  공장A  9.021685e+05
1  공장B -1.647024e+06
2  공장C -1.598311e+06
3  공장D  3.107579e+05
4  공장E  9.247514e+05

In [48]:
mean_response_time.sort_values(by = '처리시간').iloc[2, 0]

'공장D'

In [49]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_1_2.csv')
df.head()

,rent_date,rent_place,using_time,dist,bill_type,STATION_ADDR1,STATION_ID,STATION_LATITUDE,STATION_LONGITUDE
0,2019-03-19 00:42:26,ST-920,6,1660,BIL_002,서울특별시 구로구 경인로40길 47,ST-920,37.494995,126.858254
1,2019-02-14 10:53:40,ST-148,27,4530,BIL_004,서울특별시 중구 을지로 100,ST-148,37.565990,126.987793
2,2019-02-22 17:31:49,ST-10,28,4240,BIL_002,서울특별시 마포구 양화로 93,ST-10,37.552746,126.918617
3,2019-01-07 18:39:39,ST-366,41,9930,BIL_005,서울특별시 성동구 한림말길 56,ST-366,37.541363,127.017662
4,2019-01-19 16:02:25,ST-248,11,1080,BIL_014,서울특별시 성동구 행당동 347-11,ST-248,37.557350,127.029213

In [54]:
df['add_split'] = df['STATION_ADDR1'].str.split()

In [56]:
def select_text(x):
    # x : [서울특별시, 구로구, 경인로40길, 47]
    for i in x:
        # i : 서울특별시 // 구로구 // 경인로40길 // 47
        if i.endswith('구'):
            return i


df['add_split'].map(select_text)

0       구로구
1        중구
2       마포구
3       성동구
4       성동구
       ...
182     광진구
183    서대문구
184     광진구
185     노원구
186     강서구
Name: add_split, Length: 187, dtype: object

In [60]:
df['gu'] = df['STATION_ADDR1'].str.extract('([가-힣]+구)')

In [ ]:
df.head()

In [ ]:
# df = df.assign(gu = df['STATION_ADDR1'].str.extract(r'([가-힣]+구)')[0])

In [63]:
group_df = df.groupby('gu')['dist'].mean()

In [64]:
group_df[ ['성동구', '마포구'] ]

gu
성동구    3202.307692
마포구    3045.882353
Name: dist, dtype: float64

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_1_3.csv')
df.head()

         기간  제품A  제품B  제품C  제품D  제품E
0  2018년_1월  890  567  274  762  691
1  2018년_2월  270  831  930  539  393
2  2018년_3월  233  580  687  601  944
3  2018년_4월  526  167  594  374  737
4  2018년_5월  124  913  213  949  442

In [71]:

# df['총판매량'] = df[['제품A', '제품B', '제품C', '제품D', '제품E']].sum(axis = 1)
df['총판매량'] = df.loc[:, '제품A' : '제품E'].sum(axis=1)

In [72]:
df1 = df.copy()

In [82]:
df1['년도'] = df1['기간'].str.split('_').map(lambda x : x[0])
df1['월'] = df1['기간'].str.split('_').map(lambda x : x[1])

In [87]:
df1['월'] = df1['월'].str.replace('월', '').astype(int)

In [89]:
df1['분기'] = df1['월'].map(
    {
        1 : 1, 
        2 : 1, 
        3 : 1, 
        4 : 2, 
        5 : 2, 
        6 : 2, 
        7 : 3, 
        8 : 3, 
        9 : 3, 
        10 : 4, 
        11 : 4, 
        12 : 4
    }
)

In [ ]:
df1['월'].map(lambda x : (x+2) // 3 )

In [94]:
group_df2 = df1.groupby(['년도', '분기'])[['총판매량']].mean()

In [102]:
group_df2.reset_index().sort_values('총판매량').iloc[-1, : 2 ]

년도    2018년
분기        3
Name: 2, dtype: object

In [ ]:
df1[['연도', '월']] = df1['기간'].str.split('_', expand = True)
print(df1[['연도', '월']].head())

      연도   월
0  2018년  1월
1  2018년  2월
2  2018년  3월
3  2018년  4월
4  2018년  5월

In [ ]:
df1['월'] = df1['월'].str.replace('월', '').astype(int)

In [ ]:
df1['분기'] = pd.cut(df1['월'], bins = [0, 3, 6, 9, 12], labels = [1, 2, 3, 4], right = True)
print(df1.head())

         기간  제품A  제품B  제품C  제품D  제품E  총판매량     연도  월 분기
0  2018년_1월  890  567  274  762  691  3184  2018년  1  1
1  2018년_2월  270  831  930  539  393  2963  2018년  2  1
2  2018년_3월  233  580  687  601  944  3045  2018년  3  1
3  2018년_4월  526  167  594  374  737  2398  2018년  4  2
4  2018년_5월  124  913  213  949  442  2641  2018년  5  2

In [ ]:
df2 = df.copy()

In [ ]:
df2[['연도', '월']] = df2['기간'].str.extract(r'(\d+)년_(\d+)월')
print(df2[['연도', '월']].head( ))

     연도  월
0  2018  1
1  2018  2
2  2018  3
3  2018  4
4  2018  5

In [ ]:
df2['연월'] = df2['연도'] + df2['월']
df2['분기'] = pd.to_datetime(df2['연월'], format = '%Y%m').astype('period[Q]')
print(df2.head())

         기간  제품A  제품B  제품C  제품D  제품E  총판매량    연도  월     연월      분기
0  2018년_1월  890  567  274  762  691  3184  2018  1  20181  2018Q1
1  2018년_2월  270  831  930  539  393  2963  2018  2  20182  2018Q1
2  2018년_3월  233  580  687  601  944  3045  2018  3  20183  2018Q1
3  2018년_4월  526  167  594  374  737  2398  2018  4  20184  2018Q2
4  2018년_5월  124  913  213  949  442  2641  2018  5  20185  2018Q2

In [ ]:
quarterly_avg = df1.groupby(['연도', '분기'])['총판매량'].mean().reset_index() # df2도 같은 결과

/tmp/ipython-input-2085350375.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  quarterly_avg = df1.groupby(['연도', '분기'])['총판매량'].mean().reset_index() # df2도 같은 결과

In [ ]:
print(quarterly_avg.loc[quarterly_avg['총판매량'].idxmax()])

연도            2018년
분기                3
총판매량    3226.666667
Name: 2, dtype: object

>>**02 작업형 제2유형**

In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_2_test.csv')

In [2]:
print(train.info())
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   level_0                                 309 non-null    int64
 1   ID                                      309 non-null    int64
 2   Marital Status                          309 non-null    object
 3   Application mode                        309 non-null    object
 4   Course                                  309 non-null    object
 5   Daytime/evening attendance              309 non-null    object
 6   Previous qualification                  309 non-null    object
 7   Nacionality                             309 non-null    object
 8   Mother's qualification                  309 non-null    object
 9   Father's qualification                  309 non-null    object
 10  Mother's occupation                     309 non-null    object
 11  Father's occupation                     309 non-null    object
 12  Educational special needs               309 non-null    object
 13  Gender                                  309 non-null    object
 14  Curricular units 1st sem (credited)     309 non-null    int64
 15  Curricular units 1st sem (enrolled)     309 non-null    int64
 16  Curricular units 1st sem (evaluations)  309 non-null    int64
 17  Curricular units 1st sem (approved)     309 non-null    int64
 18  Target                                  309 non-null    object
dtypes: int64(6), object(13)
memory usage: 46.0+ KB
None

,level_0,ID,Marital Status,Application mode,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Educational special needs,Gender,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Target
0,0,3949,1_,43_,9147_,1_,1_,1_,1_,19_,9_,10_,0_,0_,0,5,9,5,Graduate
1,1,560,1_,53_,9003_,1_,42_,1_,3_,38_,141_,151_,0_,1_,7,12,18,11,Graduate
2,2,3186,1_,39_,9130_,1_,10_,1_,12_,36_,90_,90_,0_,1_,0,5,13,0,Dropout
3,3,4311,1_,1_,9119_,1_,1_,1_,2_,1_,3_,5_,0_,1_,0,5,10,0,Enrolled
4,4,2361,1_,42_,9773_,1_,1_,1_,19_,6_,4_,3_,0_,1_,0,4,8,0,Dropout

In [3]:
print(test.info())
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   level_0                                 133 non-null    int64
 1   ID                                      133 non-null    int64
 2   Marital Status                          133 non-null    object
 3   Application mode                        133 non-null    object
 4   Course                                  133 non-null    object
 5   Daytime/evening attendance              133 non-null    object
 6   Previous qualification                  133 non-null    object
 7   Nacionality                             133 non-null    object
 8   Mother's qualification                  133 non-null    object
 9   Father's qualification                  133 non-null    object
 10  Mother's occupation                     133 non-null    object
 11  Father's occupation                     133 non-null    object
 12  Educational special needs               133 non-null    object
 13  Gender                                  133 non-null    object
 14  Curricular units 1st sem (credited)     133 non-null    int64
 15  Curricular units 1st sem (enrolled)     133 non-null    int64
 16  Curricular units 1st sem (evaluations)  133 non-null    int64
 17  Curricular units 1st sem (approved)     133 non-null    int64
 18  Target                                  133 non-null    object
dtypes: int64(6), object(13)
memory usage: 19.9+ KB
None

,level_0,ID,Marital Status,Application mode,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Educational special needs,Gender,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Target
0,0,1903,1_,17_,9500_,1_,1_,1_,19_,1_,4_,10_,0_,0_,0,7,7,6,Graduate
1,1,796,1_,44_,9070_,1_,1_,1_,1_,1_,9_,8_,0_,0_,2,7,7,7,Graduate
2,2,1060,1_,53_,9238_,1_,42_,1_,1_,19_,5_,5_,0_,0_,5,9,12,7,Dropout
3,3,791,1_,39_,9500_,1_,1_,1_,3_,3_,2_,2_,0_,1_,0,6,15,2,Dropout
4,4,3416,1_,1_,9773_,1_,1_,1_,3_,3_,2_,5_,0_,0_,0,6,6,6,Enrolled

In [4]:
test_id = test['ID']

In [5]:
train = train.drop(['level_0', 'ID'], axis = 1)
test = test.drop(['level_0', 'ID'], axis = 1)

In [6]:
train_X = train.drop(['Target'], axis = 1)
train_y = train['Target']
test_X = test.drop(['Target'], axis = 1)
test_y = test['Target']

from sklearn.model_selection import train_test_split
train_X, valid_X, train_y, valid_y = train_test_split(train_X, train_y, test_size = 0.3,
random_state = 1)
print(train_X.shape, train_y.shape, valid_X.shape, valid_y.shape)

(216, 16) (216,) (93, 16) (93,)

In [11]:
cat_columns = train_X.select_dtypes('object').columns.to_list()
num_columns = train_X.select_dtypes('number').columns.to_list()

In [21]:
pd.get_dummies(train[cat_columns]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Columns: 127 entries, Marital Status_1_ to Gender_1_
dtypes: bool(127)
memory usage: 38.5 KB

In [8]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
ordinalencoder = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value = -1)
stdscaler = StandardScaler()

In [9]:
train_X_numeric_scaled = stdscaler.fit_transform(train_X[num_columns])
valid_X_numeric_scaled = stdscaler.transform(valid_X[num_columns])
test_X_numeric_scaled = stdscaler.transform(test_X[num_columns])

train_X_categorical_encoded = ordinalencoder.fit_transform(train_X[cat_columns])
valid_X_categorical_encoded = ordinalencoder.transform(valid_X[cat_columns])
test_X_categorical_encoded = ordinalencoder.transform(test_X[cat_columns])

train_X_preprocessed = np.concatenate([train_X_numeric_scaled, train_X_categorical_encoded], axis = 1)
valid_X_preprocessed = np.concatenate([valid_X_numeric_scaled, valid_X_categorical_encoded], axis = 1)
test_X_preprocessed = np.concatenate([test_X_numeric_scaled, test_X_categorical_encoded], axis = 1)

In [10]:
train_X_categorical_encoded

array([[ 0.,  2., 11., ..., 12.,  0.,  0.],
       [ 0.,  4., 11., ..., 15.,  0.,  0.],
       [ 0.,  4., 15., ..., 13.,  1.,  0.],
       ...,
       [ 0.,  2., 10., ..., 15.,  0.,  0.],
       [ 0., 10.,  5., ..., 18.,  0.,  0.],
       [ 0.,  4.,  8., ..., 12.,  0.,  0.]], shape=(216, 12))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 1)
rf.fit(train_X_preprocessed, train_y)

RandomForestClassifier(random_state=1)

In [ ]:
from sklearn.metrics import f1_score
pred_val = rf.predict(valid_X_preprocessed)
print('valid f1-score:' , f1_score(valid_y, pred_val, average = 'macro'))

valid f1-score: 0.5574074074074074

In [ ]:
test_pred = rf.predict(test_X_preprocessed)
test_pred = pd.DataFrame(test_pred, columns = ['pred'])

In [ ]:
result = pd.concat([test_id, test_pred], axis = 1)
print(result.head(2))

     ID      pred
0  1903  Graduate
1   796  Graduate

In [ ]:
result.to_csv('7_2_result.csv', index = False) # 시험에서 제시되는 파일명 작성할 것

In [ ]:
train_X_full = np.concatenate([train_X_preprocessed, valid_X_preprocessed], axis = 0)
train_y_full = np.concatenate([train_y, valid_y], axis = 0)

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [10, 20, 30],
 'min_samples_split': [2, 5, 10]}

rf = RandomForestClassifier(random_state = 1)
rf_search = GridSearchCV(estimator = rf,
  param_grid = param_grid,
  cv = 3,
  scoring = 'f1_macro')

rf_search.fit(train_X_full, train_y_full)
print('교차검증 f1-score:', rf_search.best_score_)

교차검증 f1-score: 0.6165084580044566

In [ ]:
test_pred2 = rf_search.predict(test_X_preprocessed)
test_pred2 = pd.DataFrame(test_pred2, columns = ['pred'])

In [ ]:
result = pd.concat([test_id, test_pred2], axis = 1)

In [ ]:
result.to_csv('7_2_result.csv', index = False) # 시험에서 제시되는 파일명 작성할 것

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_2_test.csv')
test_id = test['ID']

train = train.drop(['level_0', 'ID'], axis = 1)
test = test.drop(['level_0', 'ID'], axis = 1)

train_X = train.drop(['Target'], axis = 1)
train_y = train['Target']

test_X = test.drop(['Target'], axis = 1)
test_y = test['Target']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

ordinalencoder = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value = -1)
stdscaler = StandardScaler()

In [ ]:
cat_columns = train_X.select_dtypes('object').columns.to_list()
num_columns = train_X.select_dtypes('number').columns.to_list()

from sklearn.compose import ColumnTransformer
c_transformer = ColumnTransformer(
  transformers = [
    ('cat', ordinalencoder, cat_columns),
    ('num', stdscaler, num_columns)
  ], remainder = 'passthrough'
)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

pipe_rf = Pipeline(
 [
  ("preprocess", c_transformer),
  ("classifier", RandomForestClassifier(random_state = 1))
 ]
)

In [ ]:
param_grid = {'classifier__max_depth': [10, 20, 30],
  'classifier__min_samples_split': [2, 5, 10]}

rf_search_pipe = GridSearchCV(estimator = pipe_rf,
  param_grid = param_grid,
  cv = 3,
  scoring = 'f1_macro')
rf_search_pipe.fit(train_X, train_y)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('preprocess',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('cat',
                                                                         OrdinalEncoder(handle_unknown='use_encoded_value',
                                                                                        unknown_value=-1),
                                                                         ['Marital '
                                                                          'Status',
                                                                          'Application '
                                                                          'mode',
                                                                          'Course',
                                                                          'Daytime/evening '
                                                                          'attendance',
                                                                          'Previous '
                                                                          'qualification',
                                                                          'Nacionality',
                                                                          "Mother's "
                                                                          'qualification',
                                                                          "Father's "
                                                                          'qualif...
                                                                         StandardScaler(),
                                                                         ['Curricular '
                                                                          'units '
                                                                          '1st '
                                                                          'sem '
                                                                          '(credited)',
                                                                          'Curricular '
                                                                          'units '
                                                                          '1st '
                                                                          'sem '
                                                                          '(enrolled)',
                                                                          'Curricular '
                                                                          'units '
                                                                          '1st '
                                                                          'sem '
                                                                          '(evaluations)',
                                                                          'Curricular '
                                                                          'units '
                                                                          '1st '
                                                                          'sem '
                                                                          '(approved)'])])),
                                       ('classifier',
                                        RandomForestClassifier(random_state=1))]),
             param_grid={'classifier__max_depth': [10, 20, 30],
                         'classifier__min_samples_split': [2, 5, 10]},
             scoring='f1_macro')

In [ ]:
print('교차검증 f1_macro:', rf_search_pipe.best_score_)

교차검증 f1_macro: 0.5712288822736764

In [ ]:
test_pred3 = rf_search_pipe.predict(test_X)
test_pred3 = pd.DataFrame(test_pred3, columns = ['pred'])

In [ ]:
result = pd.concat([test_id, test_pred3], axis = 1)
print(result.head(2))

     ID      pred
0  1903  Graduate
1   796  Graduate

In [ ]:
result.to_csv('7_2_result.csv', index = False) # 시험에서 제시되는 파일명 작성할 것

>>**03 작업형 제3유형**

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_3_1.csv')

In [ ]:
# 학습 전 평균과 표준편차 계산
mean_before = data['before'].mean()
std_before = data['before'].std()

# 학습 후 평균과 표준편차 계산
mean_after = data['after'].mean()
std_after = data['after'].std()

print('학습 전 점수 평균:', round(mean_before, 2))
print('학습 전 점수 표준편차:', round(std_before, 2))
print('학습 후 점수 평균:', round(mean_after, 2))
print('학습 후 점수 표준편차:', round(std_after, 2))

학습 전 점수 평균: 71.41
학습 전 점수 표준편차: 11.37
학습 후 점수 평균: 76.3
학습 후 점수 표준편차: 11.94

In [ ]:
from scipy.stats import ttest_rel
# 대응 표본 t-검정 수행
t_statistic, p_value = ttest_rel(data['before'], data['after'])
print('t-통계량:', t_statistic.round(2))

t-통계량: -7.9

In [ ]:
p_value = p_value.round(3)
# 결과 해석
if p_value < 0.05:
    result = "기각"
else:
    result = "채택"
print(result)

기각

In [ ]:
import pandas as pd
import numpy as np
train_data = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_3_2_train.csv')
test_data = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/7_3_2_test.csv')

In [ ]:
train_data

    age        income  family_members  purchase
0    37  43620.800179               2         0
1    56  60865.620200               3         1
2    21  39500.939224               2         0
3    19  48343.513116               2         0
4    57  36974.711408               1         0
..  ...           ...             ...       ...
75   33  63346.314648               2         0
76   59  74933.935158               4         1
77   35  33803.328518               1         1
78   19  33503.869810               4         1
79   32  75914.586803               3         1

[80 rows x 4 columns]

In [ ]:
import statsmodels.api as sm

# 독립 변수와 종속 변수 설정 (train 데이터 사용)
X_train = train_data[['age', 'income', 'family_members']]
y_train = train_data['purchase']

X_train = sm.add_constant(X_train) # 상수항 추가
logit_model = sm.Logit(y_train, X_train).fit( ) # 로지스틱 회귀 분석 모델 적합
print(logit_model.summary( )) # 모델 요약 출력

Optimization terminated successfully.
         Current function value: 0.676174
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               purchase   No. Observations:                   80
Model:                          Logit   Df Residuals:                       76
Method:                           MLE   Df Model:                            3
Date:                Sat, 08 Nov 2025   Pseudo R-squ.:                 0.02405
Time:                        06:32:00   Log-Likelihood:                -54.094
converged:                       True   LL-Null:                       -55.427
Covariance Type:            nonrobust   LLR p-value:                    0.4461
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -0.9261      1.127     -0.821      0.411      -3.136       1.284
age               -0.0066      0.014     -0.459      0.646      -0.035       0.022
income          1.521e-05   1.65e-05      0.919      0.358   -1.72e-05    4.76e-05
family_members     0.2042      0.202      1.008      0.313      -0.193       0.601
==================================================================================

In [ ]:
#from statsmodels.formula.api import logit
#formula = "purchase ~ age + income + family_members"
#logit_model = logit(formula, data = train_data).fit()

In [ ]:
#import numpy as np
#np.exp(logit_model.params['income'])

In [ ]:
# 특정 변수 'income'의 오즈비 계산
odds_ratios = np.exp(logit_model.params)
print('소득(income)의 오즈비:', odds_ratios['income'].round(3))

소득(income)의 오즈비: 1.0

In [ ]:
# 잔차 이탈도 계산
residual_deviance = -2 * logit_model.llf
print('잔차 이탈도:', residual_deviance)

잔차 이탈도: 108.18783555703051

In [ ]:
# 독립 변수와 종속 변수 설정 (test 데이터 사용)
X_test = test_data[['age', 'income', 'family_members']]
y_test = test_data['purchase']

# 상수항 추가
X_test = sm.add_constant(X_test)

# 예측 수행
y_pred_prob = logit_model.predict(X_test)
y_pred = (y_pred_prob >= 0.5).astype(int)

In [ ]:
# 오류율 계산
error_rate = np.mean(y_pred != y_test)
print('오류율:', error_rate.round(3))

오류율: 0.35